.branch__title .word-area h2{
    color: var(--main-color);
    font-style: normal;
    margin-top: 2em;
    font-weight: 600;
}
.border{
    border: 0px solid black;
}
.branch {
    padding: 5em 0 2em;
    color: var(--txt);
}
.title-about-us h2 {
    color: #fff;
}
.inner-branch{
    display: flex;
    position: relative;
    gap: 2em;
    padding: 1em 2em;
    margin: 0 auto;
}
.inner-branch__left{
    width: 50%;
    height: 100%;
    flex: 0 0 auto;
    position: relative;
}
.inner-branch__right{
    width: 50%;
    height: inherit;
    position: relative;
    overflow: auto;
}
.pic-branch{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5em;
}
.pic-branch .pic{
    width: 24%;
    height: 100%;
    /* flex: 0 0 auto; */
    aspect-ratio: 1.7777778;
    position: relative;
}
.result-disc{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.challenge-branch{
    border-top: 1px solid rgb(110, 110, 110, 0.5);
}

.pic-branch{
    margin-bottom: 1em;
}
.pic-branch .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.show-click {
    width: 100%;
    /* padding-top: 56.25%; */
    position: relative;
    overflow: hidden;
    aspect-ratio: 1.7777778;
}
.show-click img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.show-click iframe,
.show-click video
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.challenge-branch h2,
.cap h2{
    width: fit-content;
    font-size: 2.6em;
    margin-top: 0.4em;
    /* text-transform: uppercase; */
    color: var(--main-color);
}
.challenge-branch p,
.cap p{
    font-size: 1.6em;
    padding: 1em;
}
.branch-result{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}
.branch-result .result{
    margin-right: 1em;
}
.branch-result .result span{
    font-size: 2.4em;
    font-weight: 500;
    color: var(--black);
    margin-right: 1em;
}
.branch-result .result-disc ul{
    list-style: circle;
    padding: 1.5em;
}
.branch-result .result-disc ul li{
    font-size: 2em;
}
/* Related swiper */
.related .swiper {
    width: 100%;
    height: 100%;
}

.related .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related .swiper {
    margin-left: auto;
    margin-right: auto;
}
.related__title h2{
    color: var(--main-color);
    margin-top: 0.5em;
    font-size: 1.4em;
}
.related__title p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--tx1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
}
.related .swiper-pagination.pagination-top {
    position: relative;
}

.related .swiper-pagination.pagination-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.related .swiper-pagination.pagination-bottom .swiper-pagination-bullet {
    margin: 0 3px;
}

.related .swiper-button-next-related {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.related .swiper-button-next-related i {
    width: 100%;
    font-size: 2em;
}

.related .swiper-button-next-related:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}

.related .swiper-button-prev-related {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.related .swiper-button-prev-related i {
    font-size: 2em;
}

.related .swiper-button-prev-related:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}
.related .swiper-pagination{
    text-align: center;
}
.inner-related{
    width: 100%;
    position: relative;
    padding: 5em 0;
}
.related__img {
    display: block;
    width: 100%;
    height: 12em;
}
.overlay-pic{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(70, 122, 190, 0.8);
    top: 0;
    display: none;
}
.pic-branch .pic.active >.overlay-pic{
    display: block;
}
.pic-branch .pic i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8em;
    z-index: 99;
    opacity: 0;
    margin-left: 1.5em;
    transition: 0.3s;
}
.pic-branch .pic.active >i{
    opacity: 1;
    margin: 0;
}
/* STRATEGY */
.strategy-area{
    background-color: #EEF6FA;
}
.strategy__disc{
    display: flex;
}
.strategy__left,
.strategy__right{
    width: 50%;
}
.strategy__left{
    padding: 10em;
}
.strategy__title h2{
    color: var(--main-color);
    font-size: 2.6em;
    margin-bottom: 0.8em;
}
.tab{
    display: flex;
    align-items: center;
}
.strategy__close-btn img{
    width: 17px;
    margin-right: 1em;
    transition: 0.3s;
} 
.tab span{
    font-size: 2em;
    font-weight: 600;
}
.panel {
    color: var(--txt);
    border-top: 1px solid #d5d8dc;
    padding: 1.5em 2em;
}
.panel ul{
    font-size: 1.6em;
    list-style: disc;
    margin-left: 1em;
}
.panel p{
    font-size: 1.6em;
}
.child-tab{
    display: none;
}
.accordion.active .strategy__close-btn img{
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(17%) sepia(53%) saturate(3353%) hue-rotate(190deg) brightness(96%) contrast(106%);
}
.accordion.active .tab span{
    color: var(--main-color);
}
.accordion {
    border: 1px solid #d5d8dc;
}
.accordion .tab {
    padding: 1.5em 2em;
}
.strategy__right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* RESULTS */
.result{
    display: flex;
    padding-top: 10em;
    padding-bottom: 10em;
    gap: 2em;
}.results{
    padding-top: 10em;
    padding-bottom: 10em;
}
.result__left,
.result__right{
    width: 50%;
    padding: 1em;
}
.result__title h2{
    color: var(--main-color);
    font-size: 2.6em;
    margin-bottom: 0.8em;
}
.result__inner p{
    font-size: 1.6em;
    color: var(--txt);
}
/* FANCY BOX */
.fancybox{
    position: relative;
}
.fancybox .swiper-button-next-fancy {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white);
    z-index: 10;
}

.fancybox .swiper-button-next-fancy i {
    width: 100%;
    font-size: 5em;
}

.fancybox .swiper-button-next-fancy:hover {
    color: var(--bg-highlight);
}

.fancybox .swiper-button-prev-fancy {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: var(--white);
}

.fancybox .swiper-button-prev-fancy i {
    font-size: 5em;
}

.fancybox .swiper-button-prev-fancy:hover {
    color: var(--bg-highlight);
}
.fancybox .swiper-slide{
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 0;
}
.fancybox .swiper-slide a{
    position: relative;
    display: block;
    font-size: 0;
}
.fancybox .swiper-slide img {
    object-fit: cover;
    transition: 0.3s;
}
.fancybox .swiper-slide:hover img{
    transform: scale(1.1);
    object-position: center;
}