.banner {
    /* padding-top: 7.5em; */
    width: 100%;
    max-width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}
.news-career__up{
    text-align: center;
    margin-bottom: 2rem;
}
.our-service__disc {
    flex: 7;
    padding-right: 10%;
    font-size: 1.8em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    font-weight: 500;
    color: var(--main-color);
    border-left: 5px solid var(--main-color);
}

.text-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-about-us {
    text-align: center;
    color: var(--white2);
    margin: 10px 10px 10px 10px;
    padding: 12px 12px 12px 12px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--white2);
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.banner img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.banner .title-about-us h1 {
    font-size: 6.4em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Case studies */
.case-studies-page {
    padding: 10em 0;
}

.branch__title .word-area h2 {
    font-weight: 600;
    font-size: 3.2em;
    line-height: 1.5em;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.grid-item {
    margin: 10px;
    text-align: start;
    overflow: hidden;
    background-color: #EEF6FA;
    display: none;
    width: 23%;
}

.related__img {
    height: 23em;
    overflow: hidden;
}

.related__img img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    object-fit: cover;
}

.related__img:hover img {
    transform: scale(1.1);
}

.related__title {
    padding: 3em;
}

.related__title h2 {
    margin-bottom: 5px;
    font-size: 2.4em;
}

.related__title p {
    margin-bottom: 20px;
    font-size: 1.6em;
}

.our-service .flip-back-overlay {
    position: absolute;
    margin-top: 5em;
}

/* Loadmore */
#loadMore {
    font-size: 1.8em;
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--main-color);
    transition: .3s;
}

#loadMore:hover {
    color: var(--main-color);
    background-color: #fff;
    border: 1px solid var(--main-color);
    text-decoration: none;
}

.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}
/* TAB Filtering */
.wrapper .tabs_wrap{
	padding: 20px;
	border-bottom: 1px solid #ebedec;
}
.wrapper .tabs_wrap ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.wrapper .tabs_wrap ul li{
    font-weight: 500;
    font-size: 1.6em;
    margin: 1em;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
    border-bottom: 3px solid transparent;
}
.wrapper .tabs_wrap ul li:last-child{
    /* display: none; */
}

.wrapper .tabs_wrap ul li:hover,
.wrapper .tabs_wrap ul li.active{
	border-bottom: 3px solid var(--main-color);
}
.wrapper .grid-item{
	border-bottom: 1px solid #ebedec;
	cursor: pointer;
}

.wrapper .item{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.grid-item .item .item_left{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.grid-item .item_left img{
	width: 70px;
	height: 70px;
	display: block;
}

.grid-item .item_left .data{
	margin-left: 20px;
}

.grid-item .item_left .data .name{
	font-weight: 600;
}

.grid-item .item_left .data .distance{
	color: #7f8b9b;
	font-size: 14px;
	margin-top: 3px;
}

.grid-item .item_right .status{
	position: relative;
	color: #77818d;
}

.grid-item .item_right .status:before{
	content: "";
	position: absolute;
	top: 5px;
    left: -12px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #b3bbc8;
}

.grid-item.offline .item_right .status{
	color: #b3bbc8;	
}

.grid-item.online .item_right .status:before{
	background: #7fc469;
}