@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --red: #950505;
    --black: #373737;
    --color-darker: #192335;
    --color-body: #6b7385;
    --tx1: #595959;
	--yellow:#F6D167;
	--yellow1:#FFF7AE;
	--yellow2:#faf5e1;
	--yellow3:#FFB830;
	--teal:#297F87;
	--white1:#cfd4df;
	--white:#FFEDDA;
    --white-opacity: #ffffff21;
    --color-white-off: #FFFFFFAB;
	--blue:#3DB2FF;
    --blue-hover:#2f57ef;
    --gray-hover-bg:rgb(200, 200, 200, 0.4);
    --color-gray-light: #F6F6F6;
    --color-body: #6b7385;
    --color-border: #e6e3f1;
    --color-heading: #192335;
    --black-opacity: rgba(0, 0, 0, 0.04);
    --black-opacity2: rgba(0, 0, 0, 0.8);
    --bg-highlight: #81E6C9;
    --blue-color: #6FCEED;
    --main-color: #004581;
    --primary-opacity: #2f57ef21;
    --white2:#ffffff;

    --shadow-1: 0px 6px 34px rgba(215, 216, 222, 0.41);
}

body {
    line-height: 1.4;
    overflow-x: hidden;
}

.border {
    border: 1px solid var(--black);
}

textarea:focus,
input:focus,
select:focus,
button:focus {
    outline: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ddd1b9;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ddd1b9;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ddd1b9;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,button{
	color:inherit;
	line-height:inherit;
	text-decoration: none;
	cursor:pointer;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
img{
	max-width:100%;
	height:auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    line-height: 1.2;
}

html {
    scroll-behavior: smooth;
}
ul{
	list-style: outside none none;
	margin:0;
	padding:0;
}
p:last-child{
	margin-bottom:0;
}
/*--------------------------------------------------------------default--*/
.container{
    padding-right: 10px;
	padding-left: 10px;
    margin: 0 auto;
}
/* Container */

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 90% !important;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 879px !important;
    }
}
@media (min-width: 1199px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1100px !important;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1100px !important;
    }
}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px !important;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px !important;
    }
}






/* Container */