.banner{
    padding-top: 7.5em;
    width: 100%;
    max-width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center center;
}
.our-service__disc {
    flex: 7;
    padding-right: 10%;
    font-size: 1.6em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    font-weight: 500;
    color: var(--main-color);
    border-left: 5px solid var(--main-color);
}
/* E-COMMERCE */
.ecommerce{
    background-color: var(--white2);
    position: relative;
    padding: 5em 0;
}
.bg-title h2{
    text-transform: uppercase;
}
.title-imc__disc{
    font-weight: 400;
    text-align: center;
    font-size: 3.2em;
    color: var(--main-color);
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}
.title-imc{
    margin-bottom: 5em;
}
.title-imc p{
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 1em;
    color: var(--txt);
    margin-bottom: 1em;
}
.ecommerce__inner{
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--white2);
    gap: 20px;
}   
.title-imc h4{
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 1em;
    color: var(--txt);
}
.ecommerce__inner .ecom-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 2em;
    transition: 0.3s;
}
.ecom-box__disc{
    margin-bottom: 1.5em;
}
.ecom-box__disc h2{
    font-size: 2.2em;
    color: var(--main-color);
}
.ecom-box__img{
    width: 30%;
    margin-bottom: 1.5em;
}
.ecom-box:hover{
    transform: scale(1.08);
}
.trust-us__inner{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 4em;
    padding-bottom: 5em;
}
.item-logo{
    aspect-ratio: auto 285 / 150;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.item-logo img{
    object-fit: contain;
}
.item-logo:hover{
    filter: contrast(1.1) brightness(1.25) saturate(1.1);
    transform: scale(1.1);
}
/* case studies */
.case-studies{
    height: auto;
    padding: 10em 0;
}
footer{
    height: 100%;
    padding: 5em 2em;
}