@media (max-width: 575px){
    /* HOME BANNER */
    .title-about-us h2{
        font-size: 3.2em;
    }
    .word-area h1{
        font-size: 1.8em;
    }
    .word-area h2{
        font-size: 1.4em;
    }
    /* MEDIA */
    .media .bg-title h2{
        font-size: 2.4em;
    }
    .media .bg-title{
        padding: 1.5em 2em;
    }
    .media-inner{
        height: 100%;
        padding: 5em 0;
    }
    .media__title h2 {
        font-size: 1.8em;
    }

    .media__disc h4 {
        font-size: 1.4em;
        line-height: 2.4rem;
    }

    .media__right {
        padding: 2.5rem 5rem;
    }
    .media__under{
        margin-top: 2em;
    }
    .media__under li {
        font-size: 1.4em;
    }
    .media__down{
        margin-top: 3em;
        flex-direction: column;
    }
    .media__left, .media__right{
        width: 100%;
    }
    
    /* DASHBOARD */
    .dashboard{
        padding: 5em 0;
    }
    .dashboard-swiper{
        height: 100%;
    }
    .dashboard .swiper-left{
        width: 100%;
        height: auto;
        position: relative;
        top: auto;
        transform: none;
        margin-top: 2em;
    }
    .dashboard .pagination-top{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .dashboard .swiper-right{
        width: 100%;
        position: relative;
        right: 0;
        top: 0;
        transform: none;
        margin-top: 2em;
    }
    .dashboard .swiper-button-next-dashboard{
        z-index: 99;
        right: 0.5em;
    }
    .dashboard .swiper-button-prev-dashboard{
        z-index: 99;
        left: -0.5em;
    }
    /* MEDIA COVERAGE */
    .coverage .swiper-slide .coverage-logo img{
        height: 50px;
    }
    .coverage .swiper-slide .coverage-logo.ooh img{
        height: 100px;
    }
    .po-coverage{
        margin-top: 2em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    /* HOME BANNER */
     .title-about-us h2{
        font-size: 3.2em;
    }
    .word-area h1{
        font-size: 1.8em;
    }
    .word-area h2{
        font-size: 1.4em;
    }
    /* MEDIA */
    .media .bg-title h2{
        font-size: 2.4em;
    }
    .media .bg-title{
        padding: 1.5em 2em;
    }
    .media-inner{
        height: 100%;
        padding: 5em 0;
    }
    .media__title h2 {
        font-size: 1.8em;
    }

    .media__disc h4 {
        font-size: 1.4em;
        line-height: 2.4rem;
    }

    .media__right {
        padding: 2.5rem 5rem;
    }
    .media__under{
        margin-top: 2em;
    }
    .media__under li {
        font-size: 1.4em;
    }
    .media__down{
        margin-top: 5em;
        flex-direction: column;
    }
    .media__left, .media__right{
        width: 100%;
    }
    
     /* DASHBOARD */
     .dashboard{
        padding: 5em 0;
    }
    .dashboard-swiper{
        height: 50vh;
    }
    .dashboard .swiper-left{
        height: auto;
    }
     /* MEDIA COVERAGE */
     .coverage .swiper-slide .coverage-logo img{
        height: 50px;
    }
    .coverage .swiper-slide .coverage-logo.ooh img{
        height: 100px;
    }
    .po-coverage{
        margin-top: 2em;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
     /* HOME BANNER */
     .title-about-us h2{
        font-size: 5.5em;
    }
    .word-area h1{
        font-size: 3em;
    }
    .word-area h2{
        font-size: 1.6em;
    }
    /* MEDIA */
    .media .bg-title h2{
        font-size: 3em;
    }
    .media__title h2 {
        font-size: 2.2em;
    }

    .media__disc h4 {
        font-size: 1.4em;
        line-height: 2.4rem;
    }

    .media__right {
        padding: 2.5rem 5rem;
    }

    .media__under li {
        font-size: 1.4em;
    }
    
     /* DASHBOARD */
     .dashboard{
        padding: 5em 0;
    }
    .dashboard-swiper{
        height: 50vh;
    }
    .dashboard .swiper-left{
        height: 70%;
    }
    /* MEDIA COVERAGE */
    .coverage .swiper-slide .coverage-logo img{
        height: 60px;
    }
    .coverage .swiper-slide .coverage-logo.ooh img{
        height: 120px;
    }
    .po-coverage{
        margin-top: 3em;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
     /* HOME BANNER */
     .title-about-us h2{
        font-size: 5.5em;
    }
    .word-area h1{
        font-size: 3em;
    }
    .word-area h2{
        font-size: 1.6em;
    }
    /* MEDIA */
    .media .bg-title h2{
        font-size: 3em;
    }
    .media__title h2 {
        font-size: 2.2em;
    }

    .media__disc h4 {
        font-size: 1.4em;
    }

    .media__right {
        padding: 2.5rem 5rem;
    }

    .media__under li {
        font-size: 1.4em;
    }
    
    /* MEDIA COVERAGE */
    .coverage .swiper-slide .coverage-logo img{
        height: 60px;
    }
    .coverage .swiper-slide .coverage-logo.ooh img{
        height: 120px;
    }
    .po-coverage{
        margin-top: 3em;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    /* HOME BANNER */
    .title-about-us h2{
        font-size: 5.5em;
    }
    .word-area h1{
        font-size: 3em;
    }
    .word-area h2{
        font-size: 1.6em;
    }
    /* MEDIA */
    .media .bg-title h2{
        font-size: 3em;
    }
    .media__title h2 {
        font-size: 2.2em;
    }

    .media__disc h4 {
        font-size: 1.4em;
    }

    .media__right {
        padding: 2.5rem 5rem;
    }

    .media__under li {
        font-size: 1.4em;
    }
    
    /* MEDIA COVERAGE */
    .coverage .swiper-slide .coverage-logo img{
        height: 70px;
    }
    .coverage .swiper-slide .coverage-logo.ooh img{
        height: 140px;
    }
    .po-coverage{
        margin-top: 2em;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){
    /* HOME BANNER */
    .title-about-us h2{
        font-size: 6.5em;
    }
    .word-area h1{
        font-size: 3.6em;
    }
    .word-area h2{
        font-size: 1.8em;
    }
    /* MEDIA */
    .media .bg-title h2{
        font-size: 3.6em;
    }
    .media__title h2{
        font-size: 2.4em;
    }
    .media__disc h4{
        font-size: 1.8em;
    }
    .media__right{
        padding: 2.5rem 5rem;
    }
    .media__under li{
        font-size: 1.4em;
    }
    
}
@media (min-width: 1600px){
    .bg-title h2{
        font-size: 4.8em;
    }
    .dashboard{
        padding: 10em 0;
    }
}