@media (max-width: 575px){
    .banner{
        height: auto;
    }
    /* Social */
    .social-page{
        padding: 3em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 1rem;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .banner{
        height: auto;
    }
    /* Social */
    .social-page{
        padding: 5em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 2rem;
    }
    
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    /* Social */
    .social-page{
        padding: 3em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /* Social */
    .social-page{
        padding: 4em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 1.5rem;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    /* Social */
    .social-page{
        padding: 4em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 1.5rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){

}
@media (min-width: 1600px){
    
}