@media (max-width: 575px){
    .banner{
        height: auto;
    }
    /* Case Studies */
    .grid-container {
        grid-template-columns: auto auto;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .banner{
        height: auto;
    }
    /* Case Studies */
    .grid-container {
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    
}
@media only screen and (min-width: 992px) and (max-width: 1199px){

}
@media only screen and (min-width: 1200px) and (max-width: 1399px){

}
@media only screen and (min-width: 1400px) and (max-width: 1599px){

}
@media (min-width: 1600px){
    
}