@media (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
    /* Well Build */
    .brancherx-about-us-well-build{
        height: 100%;
        padding-top: 3em;
    }
    .bg-title h2{
        font-size: 2.8em;
    }
    .about-us-weel-build__down {
        flex-direction: column;
    }
    
    .about-us-weel-build__down {
        margin: auto;
    }
    .about-us-weel-build__down .box-left{
        width: 100%;
        padding: 0 0.5em;
    }
    .about-us-weel-build__down .box-right{
        width: auto;
        margin-top: 3em;
    }
     .box-left .title-area h2{
        font-size: 3em;
    }
    .box-left .title-area h4{
        font-size: 2.6em;
    }
    .box-left .hightlight-text-area h4{
        font-size: 2.4em;
    }
    .about-us-weel-build__down .box-left>h4{
        font-size: 1.6em;
        padding-left: 1.5em;
    }
    .about-us-weel-build__down .box-left{
        margin-top: 6em;
    }
    .about-us-weel-build__down .box-right{
        padding: 2em;
    }
    .about-us-weel-build__down .box-right img{
        height: 45vh;
    }
    /* <!-- ABOUT US --> */
    .about-us{
        height: auto;
        padding: 8em 0;
    }
    .down-box-under .content-area{
        margin: 0 1%;
        width: 47%;
        margin-bottom: 7em;
    }
    .brancherx-section-icon{
        padding-bottom: 8em;
        height: auto;
    }
    /* <!-- COMPANY HISTORY --> */
    .company-history .bg-title h2{
        font-size: 3.2em;
    }
    .history__line{
        transform: rotate(90deg);
        position: absolute;
        width: 80vh;
    }
    .history__line .hr {
        height: 4px;
    }
    .history-box__front .img-area img{
        height: 4em;
    }
    .about-us__company-history{
        flex-direction: row;
        height: 100%;
    }
    .history__up .history-box{
        width: 35vw;
        height: 8em;
        align-items: center;
        display: flex;
    }
    .history__down .history-box{
        width: 35vw;
        height: 8em;
        align-items: center;
        display: flex;
    }
    .history__up{
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
        flex: 1 0 50%;
        height: 100%;
    }
    .history__down{
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
        flex: 1 0 50%;
        height: 100%;
    }
    .history__down{
        flex-direction: column;
        align-items: flex-end;
    }
    .history__up .history-box::after {
        transform: rotate(0deg);
        top: 0;
        bottom: 0 !important;
        left: 0;
        right: -13vw;
        margin-right: 0;
        width: 13vw !important;
    }
    .history__up .history-box::before{
        top: 0;
        bottom: 0 !important;
        left: 0;
        right: -16.2vw;
        margin-right: 0;
        width: 30px;
        height: 30px;
    }
    .history__down .history-box::after{
        transform: rotate(0deg);
        top: 0;
        bottom: 0 !important;
        left: -13vw;
        right: 0;
        margin-left: 0;
        width: 13vw !important;
    }
    .history__down .history-box::before{
        top: 0;
        bottom: 0 !important;
        left: calc(-18.5vw + 9px);
        right: 0;
        margin-left: 0;
        width: 30px;
        height: 30px;
    }
    .history__up .year-area{
        top: calc(50% + 1px);
        transform: translateY(-50%);
        left: 0;
        right: -16.vw;
        margin-right: 0;
        bottom: 0 !important;
        display: flex;
        align-items: center;
    }
    .history__up .year-area{
        top: calc(50% + 1px);
        transform: translateY(-50%);
        left: 0;
        right: -28.5vw;
        margin-right: 0;
        bottom: 0 !important;
        display: flex;
        align-items: center;
    }
    .history__down .year-area{
        top: calc(50% + 1px) !important;
        transform: translateY(-50%);
        left: -28.5vw;
        right: 0;
        margin-left: 0;
        bottom: 0 !important;
        display: flex;
        align-items: center;
    }
    .year-area h2{
        font-size: 1.8em;
    }
    .history-box__after h4{
        font-size: 1.4em;
        padding: 0.3em;
    }
    /* VISION - MISSION */
    .vision-mission{
        height: 100%;
        padding: 3em 0;
    }
    .vision-mission .bg-title h2{
        font-size: 2.4em;
    }
    .vision-mission .bg-title{
        padding: 1em 1.5em;
    }
    .about-us__title .slogan-area h4{
        font-size: 1.6em;
    }
    .about-us__title .slogan-area h2{
        font-size: 2em;
    }
    .vision-mission__down{
        flex-direction: column;
    }
    .vision-mission__left{
        width: 100%;
    }
    .vision-mission__right{
        width: 100%;
        padding-left: 0;
        margin-top: 2em;
    }
    .vision-mission__left h4{
        margin-top: 2em;
    }
    .vision-mission .about-us__title{
        margin-bottom: 3em;
    }
    .vision-mission__left h4{
        font-size: 1.4em;
    }
    .vision-mission__right h2{
        font-size: 1.4em;
    }
    .vision-mission__right h4{
        font-size: 1.4em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    html{
        font-size: 50%;
    }
     /* Well Build */
     .brancherx-about-us-well-build{
        height: 100%;
        padding-top: 3em;
    }
    .bg-title h2{
        font-size: 3.8em;
    }
    .about-us-weel-build__down{
        margin: auto;
    }
    .brancherx-about-us-well-build{
        height: 100%;
    }
    .about-us-weel-build__down{
        flex-direction: column;
     }
    .about-us-weel-build__down .box-left{
        width: 100%;
        padding: 0 0.5em;
    }
    .about-us-weel-build__down .box-right{
        width: auto;
        margin-top: 3em;
    }
     .box-left .title-area h2{
        font-size: 3em;
    }
    .box-left .title-area h4{
        font-size: 2.6em;
    }
    .box-left .hightlight-text-area h4{
        font-size: 2.4em;
    }
    .about-us-weel-build__down .box-left>h4{
        font-size: 1.6em;
    }
    .about-us-weel-build__down .box-left{
        margin-top: 6em;
    }
    .about-us-weel-build__down .box-right{
        padding: 2em;
    }
    .about-us-weel-build__down .box-right img{
        height: 45vh;
    }
    /* <!-- ABOUT US --> */
    .about-us{
        height: auto;
        padding: 8em 0;
    }
    .down-box-under .content-area{
        margin: 0 1%;
        width: 47%;
        margin-bottom: 7em;
    }
    .brancherx-section-icon{
        padding-bottom: 8em;
        height: auto;
    }
    /* <!-- COMPANY HISTORY --> */
    .history__line{
        transform: rotate(90deg);
        position: absolute;
    }
    .history__line .hr {
        height: 4px;
    }
    .history-box__front .img-area img{
        height: 6em;
    }
    .about-us__company-history{
        flex-direction: row;
        height: 100%;
    }
    .history__up .history-box{
        width: 35vw;
        height: 8em;
        align-items: center;
        display: flex;
    }
    .history__down .history-box{
        width: 35vw;
        height: 8em;
        align-items: center;
        display: flex;
    }
    .history__up{
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
        flex: 1 0 50%;
        height: 100%;
    }
    .history__down{
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
        flex: 1 0 50%;
        height: 100%;
    }
    .history__down{
        flex-direction: column;
        align-items: flex-end;
    }
    .history__up .history-box::after {
        transform: rotate(0deg);
        top: 0;
        bottom: 0 !important;
        left: 0;
        right: -9vw;
        margin-right: 0;
        width: 9vw !important;
    }
    .history__up .history-box::before{
        top: 0;
        bottom: 0 !important;
        left: 0;
        right: -10.9vw;
        margin-right: 0;
        width: 30px;
        height: 30px;
    }
    .history__down .history-box::after{
        transform: rotate(0deg);
        top: 0;
        bottom: 0 !important;
        left: -9vw;
        right: 0;
        margin-left: 0;
        width: 9vw !important;
    }
    .history__down .history-box::before{
        top: 0;
        bottom: 0 !important;
        left: calc(-12.3vw + 9px);
        right: 0;
        margin-left: 0;
        width: 30px;
        height: 30px;
    }
    .history__up .year-area{
        top: calc(50% + 1px);
        transform: translateY(-50%);
        left: 0;
        right: -17.4vw;
        margin-right: 0;
        bottom: 0 !important;
        display: flex;
        align-items: center;
    }
    .history__down .year-area{
        top: calc(50% + 1px) !important;
        transform: translateY(-50%);
        left: -17.5vw;
        right: 0;
        margin-left: 0;
        bottom: 0 !important;
        display: flex;
        align-items: center;
    }
    .year-area h2{
        font-size: 1.8em;
    }
    /* VISION - MISSION */
    .vision-mission{
        padding: 2em 0;
        height: 100%;
    }
    .vision-mission__down{
        flex-direction: column;
    }
    .vision-mission__left{
        width: 100%;
    }
    .vision-mission__right{
        width: 100%;
        padding-left: 0;
        margin-top: 2em;
    }
    .vision-mission__left h4{
        margin-top: 2em;
    }
    .vision-mission .about-us__title{
        margin-bottom: 5em;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    html{
        font-size: 50%;
    }
    /* Well Build */
    .box-left .title-area h2{
        font-size: 3em;
    }
    .box-left .title-area h4{
        font-size: 2.6em;
    }
    .box-left .hightlight-text-area h4{
        font-size: 2.4em;
    }
    .about-us-weel-build__down .box-left>h4{
        font-size: 1.6em;
        padding-left: 1em;
    }
    .about-us-weel-build__down .box-left{
        margin-top: 6em;
    }
    .about-us-weel-build__down .box-right{
        padding: 2em;
    }
    .about-us-weel-build__down .box-right img{
        height: 45vh;
    }
    /* <!-- COMPANY HISTORY --> */
    .history-box__front .img-area img{
        height: 6em;
    }
    .history__line{
        height: 120px;
    }
    .history__down .history-box::before{
        top: -82px;
        left: 39%;
    }
    .history__up .history-box::before{
        bottom: -77px;
    }
    .history__up .history-box::after{
        width: 55px !important;
        bottom: -30px !important;
    }
    .history__down .history-box::after{
        width: 55px;
        top: -30px;
    }
    .history__up .year-area{
        bottom: -104px !important;
    }
    .history__down .year-area{
        top: -104px !important;
    }
    .history-box__after h4{
        font-size: 1.2em;
        padding: 1em;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    html{
        font-size: 55%;
    }
    .container {
        max-width: 879px !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
     /* Well Build */
     .box-left .title-area h2{
        font-size: 3em;
    }
    .box-left .title-area h4{
        font-size: 2.6em;
    }
    .box-left .hightlight-text-area h4{
        font-size: 2.4em;
    }
    .about-us-weel-build__down .box-left>h4{
        font-size: 1.6em;
    }
    .about-us-weel-build__down .box-left{
        margin-top: 6em;
    }
    .about-us-weel-build__down .box-right{
        padding: 2em;
    }
    .about-us-weel-build__down .box-right img{
        height: 45vh;
    }
    /* <!-- COMPANY HISTORY --> */
    .about-us__company-history{
        top: 40%;
    }
    .history-box__front .img-area img{
        height: 5em;
    }
    .history-box__after h4{
        font-size: 1.4em;
        padding: 0.8em;
    }
    /* VISION MISSION */
    .vision-mission{
        height: 100%;
        padding: 2em 0;
    }
    .vision-mission .bg-title h2{
        font-size: 3em;
    }
    .vision-mission .bg-title{
        padding: 1.5em 3em;
    }
    .about-us__title .slogan-area h4{
        font-size: 2.4em;
    }
    .about-us__title .slogan-area h2{
        font-size: 2.6em;
    }
    .vision-mission .about-us__title{
        margin-bottom: 5em;
    }
    .vision-mission__left h4{
        font-size: 1.4em;
    }
    .vision-mission__right h2{
        font-size: 1.4em;
    }
    .vision-mission__right h4{
        font-size: 1.4em;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    html{
        font-size: 62.5%;
    }
    .container {
        max-width: 1100px !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
     /* Well Build */
     .box-left .title-area h2{
        font-size: 3em;
    }
    .box-left .title-area h4{
        font-size: 2.6em;
    }
    .box-left .hightlight-text-area h4{
        font-size: 2.4em;
    }
    .about-us-weel-build__down .box-left>h4{
        font-size: 1.6em;
    }
    .about-us-weel-build__down .box-left{
        margin-top: 6em;
    }
    .about-us-weel-build__down .box-right{
        padding: 2em;
    }
    .about-us-weel-build__down .box-right img{
        height: 45vh;
    }
    /* <!-- COMPANY HISTORY --> */
    .history-box__front .img-area img{
        height: 5em;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){
    html{
        font-size: 62.5%;
    }
    /* Well Build */
    .box-left .title-area h2{
        font-size: 3em;
    }
    .box-left .title-area h4{
        font-size: 2.6em;
    }
    .box-left .hightlight-text-area h4{
        font-size: 2.4em;
    }
    .about-us-weel-build__down .box-left>h4{
        font-size: 1.6em;
    }
    .about-us-weel-build__down .box-left{
        margin-top: 6em;
    }
    .about-us-weel-build__down .box-right{
        padding: 2em;
    }
    .about-us-weel-build__down .box-right img{
        height: 45vh;
    }
}
@media (min-width: 1600px){
    .container {
        max-width: 1200px !important;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .about-us__counter{
        justify-content: space-between;
    }
    .content-counter .counter{
        font-size: 7.6em;
    }
    .counter_disc {
        font-size: 2.4em;
    }
}