@media (max-width: 575px){
    .banner{
        height: auto;
    }
    /* Social */
    .social-page{
        padding: 3em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 1rem;
    }
    /* PUBLIC RELATIONS */
    .flex-end{
        flex-direction: row;
        justify-content: flex-start;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .grid-container>div{
        flex-direction: column;
        text-align: center;
        padding: 2em 1em;
    }
    .flex-end .public-img{
        margin-right: 0;
        margin-left: 0;
    }
    .flex-end .public-disc h2{
        text-align: center;
    }
    .flex-end .public-disc p{
        text-align: center;
    }
    .public-img{
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        margin-bottom: 1em;
    }
    /* BOX PR */
    .box-area {
        gap: 2em;
    }
    .box-area .box{
        width: 46%;
    }
    /* CASE STUDIES */
    .case-studies{
        height: 100%;
        padding: 5em 0;
    }
    /* OUR WORKS */
    #tab2 .grid-container{
        grid-template-columns: auto auto;
    }
    #tab3 .grid-container{
        grid-template-columns: auto auto auto;
    }
    #tab1 .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    .news-career__down .list-tab .grid-item{
        padding: 0;
        margin: 0;
    }
    .tablinks{
        margin-bottom: 1em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .banner{
        height: auto;
    }
    /* PUBLIC RELATIONS */
    .flex-end{
        flex-direction: row;
        justify-content: flex-start;
    }
    .grid-container{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .grid-container>div{
        flex-direction: column;
        text-align: center;
        padding: 2em 1em;
    }
    .flex-end .public-img{
        margin-right: 0;
        margin-left: 0;
    }
    .flex-end .public-disc h2{
        text-align: center;
    }
    .flex-end .public-disc p{
        text-align: center;
    }
    .public-img{
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        margin-bottom: 1em;
    }
    .item5{
        aspect-ratio: unset;
    }
    /* BOX PR */
    .box-area {
        gap: 2em;
    }
    .box-area .box{
        width: 48%;
    }
    .box-area .box span{
        font-size: 2.4em;
    }
    /* Social */
    .social-page{
        padding: 5em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 2rem;
    }
   /* OUR WORKS */
   #tab2 .grid-container {
       grid-template-columns: auto auto;
   }

   #tab3 .grid-container {
       grid-template-columns: auto auto auto;
   }

   #tab1 .grid-container {
       grid-template-columns: 1fr 1fr;
   }

   .news-career__down .list-tab .grid-item {
       padding: 0;
       margin: 0;
   }

   .tablinks {
       margin-bottom: 1em;
   }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    /* Social */
    .social-page{
        padding: 3em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /* Social */
    .social-page{
        padding: 4em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 1.5rem;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    /* Social */
    .social-page{
        padding: 4em 0;
    }
    .branch__title .word-area h2{
        margin-bottom: 1.5rem;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px){

}
@media (min-width: 1600px){
    
}