@media (max-width: 575px){
    .banner{
        height: auto;
    }
    /* E-commerce */
    .ecommerce__inner{
        flex-direction: column;
    }
    .ecom-box__disc h2{
        font-size: 2.4em;
    }
    .trust-us__inner{
        gap: 5em;
        grid-template-columns: auto auto;
        padding: 0 4em;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .banner{
        height: auto;
    }
    /* E-commerce */
    .ecommerce__inner{
        flex-direction: column;
    }
    .ecom-box__disc h2{
        font-size: 2.4em;
    }
    .trust-us__inner{
        gap: 5em;
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    .trust-us__inner{
        gap: 5em;
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){

}
@media only screen and (min-width: 1400px) and (max-width: 1599px){

}
@media (min-width: 1600px){
    
}