@media (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .main-navigation{
        display: none;
    }
    html{
        font-size: 50%;
    }
    .top-wrapper__center{
        display: none;
    }
    .main-navigation{
        display: none;
    }
    .header-top{
        display: none;
    }
    .mainbar__left {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-menu-mobile{
        display: flex;
    }
    .header-right .search{
        display: none;
    }
    .header-right .swap-lag .english{
        display: none;
    }
    .lag img{
        margin-right: 0;
        width: 2.5em;
    }
    .sub-menu-lag{
        transform: translateY(80%) translateX(-60%);
    }
    .search-dropdown{
        display: none;
    }
    .top-content-courses{
        background: var(--color-darker);
    }
    .nav-elements{
        flex-direction: column;
    }
    .mainmenu-nav .panel li a{
        display: flex;
    }
    .img-inner-blog{
        width: 100%;
    }
    .popup-mobile-menu li{
        padding: 0;
        font-size: 1em;
    }
    .popup-mobile-menu li>a{
        border-bottom: 1px solid var(--gray-hover-bg);
        color: var(--color-body);
    }
    .popup-mobile-menu .mainmenu-nav .panel2 li a {
        font-size: 1em;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    html{
        font-size: 50%;
    }
    .top-wrapper__center{
        display: none;
    }
    .main-navigation{
        display: none;
    }
    .mainbar__left {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-menu-mobile{
        display: flex;
    }
    .header-right .search{
        display: none;
    }
    .sub-menu-lag{
        transform: translateY(80%) translateX(-20%);
    }
    .search-dropdown{
        display: none;
    }
    .top-content-courses{
        background: var(--color-darker);
    }
    .nav-elements{
        flex-direction: column;
    }
    .mainmenu-nav .panel li a{
        display: flex;
    }
    .img-inner-blog{
        width: 100%;
    }
    .popup-mobile-menu li{
        padding: 0;
        font-size: 1em;
    }
    .popup-mobile-menu li>a{
        border-bottom: 1px solid var(--gray-hover-bg);
        color: var(--color-body);
    }
    .popup-mobile-menu .mainmenu-nav .panel2 li a {
        font-size: 1em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: 50%;
    }
    .top-wrapper__center{
        display: none;
    }
    .mainmenu-nav .mainmenu {
        gap: 0.5em;
    }
    .img-inner-blog{
        padding: 0;
        padding-top: 2em;
    }
    /* Search - dropdown */
    .list-course .card-slide.wiper-mid{
        padding: 0.3em;
    }
    .list-course .card-rating .rating i{
        font-size: 0.7em;
    }
    .list-course .course-review{
        font-size: 0.7em;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    html{
        font-size: 55%;
    }
    .top-wrapper__center{
        display: none;
    }
    /* Search - dropdown */
    .list-course .card-slide.wiper-mid{
        padding: 0.5em;
    }
    .list-course .card-rating .rating i{
        font-size: 0.8em;
    }
    .list-course .course-review{
        font-size: 0.8em;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    
}
@media (min-width: 1400px){

}