@media (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .main-navigation{
        display: none;
    }
    html{
        font-size: 50%;
    }
    .top-wrapper__center{
        display: none;
    }
    .main-navigation{
        display: none;
    }
    .header-top{
        display: none;
    }
    .mainbar__left {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-menu-mobile{
        display: flex;
    }
    .header-right .search{
        display: none;
    }
    .header-right .swap-lag .english{
        display: none;
    }
    .lag img{
        margin-right: 0;
        width: 2.5em;
    }
    .sub-menu-lag{
        transform: translateY(80%) translateX(-60%);
    }
    .search-dropdown{
        display: none;
    }
    /* Home Section Your Business */
    .img-business{
        width: 100%;
    }
    .inner-business{
        width: 100%;
    }
    .inner-business{
        padding: 3em;
    }
    .home-your-business-up {
        flex-direction: column-reverse;
    }
    .inner-business .title span {
        font-size: 2em;
    }
    .inner-business .title h2 {
        font-size: 2.5em;
    }
    .down-box-under{
        width: 100%;
        flex-wrap: wrap;
    }
    .down-box-under .icon-area {
        width: 50%;
        margin-top: 2em;
    }
     /* Our - Service */
     .our-serivce__down{
        gap: 1em;
    }
    .flip-card{
        width: 100%;
        padding: 2em 3em;
    }
    .our-serivce__up{
        flex-direction: column;
        padding: 0 3em;
        text-align: center;
    }
    .our-serivce__up .bg-title{
        margin-right: 0;
    }
    .our-service__disc{
        border-left: none;
        padding: 0;
        margin: 1em auto;
    }
    .tab {
        gap: 1em;
        padding: 0;
        margin-top: 1em;
        text-align: center;
    }
    /* News - Career */
    .info-career__disc a h2{
        font-size: 2em;
    }
    .info-career__disc p{
        font-size: 1.4em;
    }
    .info-career img{
        max-height: 20em;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    html{
        font-size: 50%;
    }
    .top-wrapper__center{
        display: none;
    }
    .main-navigation{
        display: none;
    }
    .mainbar__left {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-menu-mobile{
        display: flex;
    }
    .header-right .search{
        display: none;
    }
    .sub-menu-lag{
        transform: translateY(80%) translateX(-20%);
    }
    .search-dropdown{
        display: none;
    }
    /* Home Section Your Business */
    .img-business{
        width: 100%;
    }
    .inner-business{
        width: 100%;
    }
    .inner-business{
        padding: 3em;
    }
    .home-your-business-up {
        flex-direction: column-reverse;
    }
    .inner-business .title span {
        font-size: 2em;
    }
    .inner-business .title h2 {
        font-size: 2.5em;
    }
    .down-box-under{
        width: 100%;
        flex-wrap: wrap;
    }
    .down-box-under .icon-area {
        width: 50%;
        margin-top: 2em;
    }
    /* Our - Service */
    .our-serivce__down{
        gap: 1em;
    }
    .flip-card{
        width: 100%;
        padding: 2em 3em;
    }
    .our-serivce__up{
        flex-direction: column;
        padding: 0 3em;
        text-align: center;
    }
    .our-serivce__up .bg-title{
        margin-right: 0;
    }
    .our-service__disc{
        border-left: none;
        padding: 0;
        margin: 1em auto;
    }
     /* News - Career */
     .info-career__disc a h2{
        font-size: 2.2em;
    }
    .info-career__disc p{
        font-size: 1.6em;
    }
    .info-career img{
        max-height: 24em;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: 50%;
    }
    .top-wrapper__center{
        display: none;
    }
    .mainmenu-nav .mainmenu {
        gap: 0.5em;
    }
    .img-inner-blog{
        padding: 0;
        padding-top: 2em;
    }
    /* Search - dropdown */
    .list-course .card-slide.wiper-mid{
        padding: 0.3em;
    }
    .list-course .card-rating .rating i{
        font-size: 0.7em;
    }
    .list-course .course-review{
        font-size: 0.7em;
    }
    /* Home Section Your Business */
    .inner-business{
        padding: 4em;
    }
    .inner-business .title span {
        font-size: 2em;
    }
    .down-box-under{
        width: 80%;
        flex-wrap: wrap;
    }
    .down-box-under .icon-area {
        width: 50%;
        margin-top: 2em;
    }
      /* Our - Service */
    .our-serivce__down{
        gap: 1em;
    }
    .flip-card{
        width: 48%;
    }
    /* News - Career */
    .info-career__disc a h2{
        font-size: 2.2em;
    }
    .info-career__disc p{
        font-size: 1.6em;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    html{
        font-size: 55%;
    }
    .top-wrapper__center{
        display: none;
    }
    /* Search - dropdown */
    .list-course .card-slide.wiper-mid{
        padding: 0.5em;
    }
    .list-course .card-rating .rating i{
        font-size: 0.8em;
    }
    .list-course .course-review{
        font-size: 0.8em;
    }
    /* Home Section Your Business */
    .inner-business{
        padding: 5em;
    }
    /* Our - Service */
    .flip-card{
        width: 49%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    html{
        font-size: 62.5%;
    }
}
@media (min-width: 1400px){
    html{
        font-size: 62.5%;
    }
}