.imc{
    /* background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(143, 210, 238, 0.86) 91.98%); */
    background: var(--white2);
}
.banner{
    /* padding-top: 7.5em; */
    width: 100%;
    max-width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
}
.our-service__disc {
    flex: 7;
    padding-right: 10%;
    font-size: 1.8em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    font-weight: 500;
    color: var(--main-color);
    border-left: 5px solid var(--main-color);
}
.text-area{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.title-about-us{
    text-align: center;
    color: var(--white2);
    margin: 10px 10px 10px 10px;
    padding: 12px 12px 12px 12px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--white2);
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.5);
}
.banner img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.banner .title-about-us h1{
    font-size: 6.4em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
/* Media */
.dashboard-inner{
    padding: 3em 0;
}
.media{
    background-color: #FFFFFF;
    background-image: url(../img/what-we-do-our-strategic-bg.svg);
    overflow-x: hidden;
    background-size: 20%;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right top;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
}
.strategic-disc{
    display: flex;
    position: relative;
}
.column-trategic{
    flex: 1;
}
.media .about-us__title{
    opacity: 1;
    transform: none;
    text-transform: uppercase;
}
.title-strategic {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 3em;
    color: var(--main-color);
    position: relative;
    display: inline-block;
    margin: 4em 0 3em;
    border-bottom: 3px solid var(--main-color);
}
.strategic-disc{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 1em;
}
.strategic__item{
    position: relative;
    padding: 0.8em;
    border-radius: 0.8em;
    font-size: 1.6em;
    font-weight: 500;
}
.strategic__item p{
    margin: 0;
}
.strategic__item ul{
    list-style: circle;
    padding-left: 1.5em;
}
.strategic__item.cl-1{
    text-align: start;
    background-color: #CDF5FD;
}
.strategic__item.cl-2{
    text-align: start;
    background-color: #A0E9FF;
}
.strategic__item.cl-3{
    text-align: start;
    background-color: #89CFF3;
}
.strategic__item.cl-4{
    text-align: start;
    background-color: #00A9FF;
}
.strategic__item.title{
    padding: 1.5em;
    text-align: center;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.strategic__item.line{
    padding: 0;
}
.strategic__item.line::before{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: calc(100% + 1.5em);
    background: var(--main-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.strategic__item.line::after{
    content: '';
    display: block;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: var(--main-color);
    left: -0.6em;
    top: 0em;
}
.strategic__item.line h4{
    margin-left: 1em;
}
.strategic__item.center{
    display: flex;
    align-items: center;
    text-decoration: dashed;
}
/* OUR DASHBOARD */
.dashboard .bg-title {
    background: var(--bg-highlight);
}

.dashboard .bg-title h2 {
    text-transform: uppercase;
}
.po-dashboard{
    position: relative;
    width: 100%;
    height: 100%;
}
.dashboard .swiper {
    width: 100%;
    height: 100%;
}

.dashboard .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard .swiper {
    margin-left: auto;
    margin-right: auto;
}

.dashboard .swiper-container {
    width: 100%;
    height: 100%;
}

.dashboard .pagination-bottom {
    font-size: 0px;
}

.dashboard .pagination-top {
    position: relative;
    top: 0%;
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard .pagination-top .swiper-pagination-bullet {
    width: auto;
    border-radius: 0px;
    height: auto;
    background-color: transparent;
    padding: 0.5rem 0.5rem 0.2rem 0;
    color: var(--main-color);
    opacity: 1;
    border-bottom: 2px solid transparent;
    font-size: 1.8em;
    font-weight: 300;
}

.dashboard .pagination-top .swiper-pagination-bullet-active {
    border-bottom: 2px solid var(--main-color);
    width: fit-content;
    font-weight: 700;
}

.dashboard {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5em 0;
}
.dashboard-swiper{
    position: relative;
    width: 100%;
    height: 65vh;
}
.dashboard .swiper-left {
    width: 50%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.dashboard .swiper-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.dashboard .swiper-pagination.pagination-top {
    position: relative;
}

.dashboard .swiper-pagination.pagination-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.dashboard .swiper-pagination.pagination-bottom .swiper-pagination-bullet {
    margin: 0 3px;
}

.dashboard .swiper-button-next-dashboard {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.dashboard .swiper-button-next-dashboard i {
    width: 100%;
    font-size: 2em;
}

.dashboard .swiper-button-next-dashboard:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}

.dashboard .swiper-button-prev-dashboard {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.dashboard .swiper-button-prev-dashboard i {
    font-size: 2em;
}

.dashboard .swiper-button-prev-dashboard:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}
.dashboard .swiper-pagination{
    text-align: left;
}
/* COVERAGE */
.coverage{
    background: linear-gradient(180deg, #9FD8F0 0%, #FFFFFF 100%);
    background-attachment: fixed;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5em 0;
}

.coverage .bg-title h2 {
    text-transform: uppercase;
}
.po-coverage{
    position: relative;
    width: 100%;
    height: 100%;
}

.coverage .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1%;
}
.coverage-logo {
    flex: 1 0 21%;
    margin: 15px 0 15px;
    text-align: center;
}

.coverage .swiper-slide .coverage-logo img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.coverage .swiper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.coverage .swiper-wrapper{
    align-items: center;
}
.coverage .swiper-container {
    width: 100%;
    height: 100%;
}

.coverage .pagination-bottom-coverage {
    font-size: 0px;
}

.coverage .pagination-top-coverage {
    position: relative;
    top: 0%;
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.coverage .pagination-top-coverage .swiper-pagination-bullet {
    width: auto;
    border-radius: 0px;
    height: auto;
    background-color: transparent;
    padding: 0.5rem 0.5rem 0.2rem 0;
    color: var(--main-color);
    opacity: 1;
    border-bottom: 2px solid transparent;
    font-size: 2.2em;
    font-weight: 300;
}

.coverage .pagination-top-coverage .swiper-pagination-bullet-active {
    border-bottom: 2px solid var(--main-color);
    width: fit-content;
    font-weight: 700;
}

.coverage-swiper{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 5em;
}
.coverage .swiper-left {
    width: 100%;
    height: auto;
    position: relative;
}

.coverage .swiper-right {
    width: 100%;
    position: relative;
}

.coverage .swiper-pagination.pagination-top-coverage {
    position: relative;
}

.coverage .swiper-pagination.pagination-bottom-coverage {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.coverage .swiper-pagination.pagination-bottom-coverage .swiper-pagination-bullet {
    margin: 0 3px;
}

.coverage .swiper-button-next-coverage {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.coverage .swiper-button-next-coverage i {
    width: 100%;
    font-size: 2em;
}

.coverage .swiper-button-next-coverage:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}

.coverage .swiper-button-prev-coverage {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.coverage .swiper-button-prev-coverage i {
    font-size: 2em;
}

.coverage .swiper-button-prev-coverage:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}
.coverage .swiper-pagination-coverage{
    text-align: left;
}
.ooh{
    flex: 1 0 31%;
    margin: 0;
}
.coverage .swiper-slide .coverage-logo.ooh img{
    height: 160px;
}

/* IMC */
.imc-inner{
    padding: 5em 0;
}
.bg-title h2{
    text-transform: uppercase;
}
.title-imc__disc{
    font-weight: 400;
    text-align: center;
    font-size: 3.2em;
    color: var(--main-color);
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}
.title-imc p{
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 1em;
    color: var(--main-color);
}
.imc-disc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1%;
    margin: 5em 0;
}
.imc-box{
    width: 23%;
    /* background: var(--white2); */
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(143, 210, 238, 0.86) 91.98%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 2rem;
    transition: 0.3s;
}
.ribbon{
    padding: 3em;
    text-align: center;
}
.imc-box-disc{
    font-size: 1.6em;
    color: var(--main-color);
    font-weight: 400;
    line-height: 1.5;
}
.ribbon-front h2{
    margin-bottom: 2rem;
    font-size: 2.4em;
    color: var(--main-color);
}
.img-imc{
    margin-bottom: 2rem;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
.imc-box:hover{
    transform: scale(1.1);
}
/* PUBLIC RELATIONS */
.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px;
}
.public__inner {
    margin-top: 4em;
}
.grid-container>div {
    padding: 1em;
    display: flex;
}
.item5 {
    grid-area: 2 / 2 / 4 / 2;
    aspect-ratio: auto 496 / 442;
}
.item5 img{
    margin: 0 auto;
}
.public-img{
    width: 15%;
    margin-right: 2em;
}
.public-disc h2{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.6em;
    color: var(--main-color);
}
.public-disc p{
    font-size: 1.6em;
    color: var(--txt);
}
.flex-end{
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.flex-end .public-img{
    margin-left: 2em;
}
.flex-end .public-disc h2{
    text-align: end;
}
.flex-end .public-disc p{
    text-align: end;
}
.effect:hover{
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.1);
    transform: scale(1.08);
}
.effect{
    transition: transform .85s cubic-bezier(.23,1,.32,1),background .3s,border .3s,border-radius .3s,box-shadow .3s;
}
/* OUR TECHNOLOGY */
.technology{
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(143, 210, 238, 0.86) 91.98%), url(../img/what-we-do-our-technology-bg.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left bottom;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.technology .bg-title{
    background: var(--bg-highlight);
}
.technology .description-area{
    width: 80%;
    margin: 0 auto;
}
.technology .description-area h4{
    font-weight: 500;
    font-size: 2.2em;
    line-height: 3rem;
    text-align: center;
    color: var(--main-color);
    padding-top: 1em;
}
.technology .img-tech{
    position: relative;
    margin: 3em auto 0;
}
.technology .media-inner{
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.img-tech img{
    max-height: 60vh;
}
/* POWER-X */
.power-x{
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.9) 31.98%, rgba(217, 217, 217, 0) 100%), url(../img/what-we-do-power-x.webp);
}
.powerx-inner{
    flex: 0 0 auto;
    width: 41.66666667%;
}
.powerx-title h2{
    font-weight: 700;
    font-size: 4.4em;
    line-height: 5rem;
    color: var(--main-color);
}
.powerx-title h2 span{
    font-weight: 700;
    font-size: 10rem;
    line-height: 0.9em;
    display: block;
}
.powerx-disc{
    padding-left: 40px;
    border-left: 5px solid var(--main-color);
    margin-top: 40px;
    margin-bottom: 20px;
}
.powerx-disc h4{
    font-weight: 700;
    font-size: 2.8em;
    line-height: 1.5em;
    color: var(--main-color);
    width: 100%;
    display: inline-block;
}
.powerx-text h4{
    font-weight: 400;
    font-size: 1.6em;
    line-height: 3rem;
    color: var(--main-color);
    width: 90%;
    display: inline-block;
    text-align: justify;
    margin: 1.5rem 0;
}