footer{
    width: 100%;
    background-color: var(--main-color);
    color: var(--white2);
    font-size: 1rem;
    font-weight: 400;
    padding: 3em 2em;
}
.footer-title{
    color: var(--bg-highlight);
    font-size: 2.4em;
}
.located{
    display: flex;
    position: relative;
    margin-top: 2em;
    flex-wrap: wrap;
}
.located-disc{
    padding: 0 1em;
    flex: 1;
}
.located-disc h4{
    color: var(--bg-highlight);
    font-size: 1.8em;
    padding-bottom: 0.5em;
    border-bottom: 3px solid var(--bg-highlight);
    width: fit-content;
}
.located .items{
    display: flex;
    position: relative;
    margin-top: 1em;
    align-items: center;
}
.located .icon{
    color: var(--main-color);
    background: var(--white2);
    border-radius: 50%;
    display: flex;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
.located .icon i{
    width: fit-content;
    position: relative;
    font-size: 1.2em;
}
.located .items a{
    font-size: 1.4em;
}
.located .items span{
    font-size: 1.4em;
}
.footer-disc__down{
    width: 100%;
    display: flex;
    margin-top: 3em;
    flex-wrap: wrap;
}
.side-map-main {
    flex: 4;
    padding: 0 1em;
}
.footer-contact{
    flex: 8;
}
.side-map-main h2{
    font-size: 1.8em;
}
.side-map-main li{
    padding: 0.2em 0;
    font-size: 1.4em;
    font-weight: 500;
}
.slogan{
    padding-left: 3em;
}
.slogan h2 {
    font-style: italic;
    font-weight: 400;
}
.logo-area-footer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    max-height: 8em;
}
.logo-area-footer img{
    position: relative;
    right: 0;
    max-height: 8em;
}
.social{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    align-items: center;
    flex-wrap: wrap;
}
.social .tele{
    display: flex;
    position: relative;
    align-items: center;
    color: var(--bg-highlight);
}
.social .tele i{
    font-size: 5em;
}
.social .tele a{
    font-size: 2em;
    margin-left: 0.4em;
    font-weight: 600;
}
.icon-social {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: var(--white2);
    justify-content: space-around;
    width: 40%;
}
.icon-social a{
    color: var(--white2);
    background: var(--bg-highlight);
    border-radius: 50%;
    display: flex;
    position: relative;
    width: 2em;
    height: 2em;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}
