.media{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../img/what-we-do-service-box1-bg.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
}
.bg-wwd-2{
    background: linear-gradient(180deg, rgba(143, 210, 238, 0.2) 0%, rgba(255, 255, 255, 0.2) 180.14%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../img/what-we-do-service-box2-bg.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
}
.fix-pos{
    flex-direction: row-reverse;
}
.media-inner {
    height: 100%;
    padding: 5em 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    width: 100%;
    margin: 0;
}
.about-us-banner .title-about-us{
    bottom: auto;
    top: 50%;
}
.media .bg-title h2{
    font-size: 4.8em;
}
.media .bg-title{
    background-color: var(--bg-highlight);
}
.word-area h1{
    font-weight: 700;
    font-size: 4.4em;
    line-height: 1.2em;
    text-align: center;
    font-style: normal;
    color: var(--white2);
    margin-bottom: 0.5rem;
    color: var(--bg-highlight);
    text-transform: uppercase;
}
.about-us__title{
    margin-top: 0;
}
.word-area h2{
    font-style: unset;
    font-style: 2.4em;
}
.media__down{
    display: flex;
    position: relative;
    margin-top: 10em;
}
.media__left{
    width: 50%;
}
.media__right{
    width: 50%;
    padding: 1em 10em;
}
.media__title{
    margin-bottom: 2.5em;
}
.media__left img{
    width: 100%;
    object-fit: cover;
    height: 55vh;
}
.media__title h2{
    font-weight: 700;
    font-size: 3.4em;
    line-height: 1em;
    color: var(--main-color);
    text-transform: uppercase;
}
.media__disc {
    padding: 1em 0 1em 4em;
    border-left: 5px solid var(--main-color);
}
.media__disc h4{
    font-weight: 500;
    font-size: 2.4em;
    line-height: 1.5em;
    color: var(--main-color);
    text-align: justify;
}
.media__under {
    padding-left: 4em;
    margin-top: 3em;
}
.media__under ul{
    list-style: disc;
}
.media__under li{
    font-weight: 500;
    font-size: 2em;
    line-height: 2.6rem;
    color: var(--main-color);
}

/* OUR DASHBOARD */
.dashboard .bg-title {
    background: var(--bg-highlight);
}

.dashboard .bg-title h2 {
    text-transform: uppercase;
}
.po-dashboard{
    position: relative;
    width: 100%;
    height: 100%;
}
.dashboard .swiper {
    width: 100%;
    height: 100%;
}

.dashboard .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard .swiper {
    margin-left: auto;
    margin-right: auto;
}

.dashboard .swiper-container {
    width: 100%;
    height: 100%;
}

.dashboard .pagination-bottom {
    font-size: 0px;
}

.dashboard .pagination-top {
    position: relative;
    top: 0%;
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard .pagination-top .swiper-pagination-bullet {
    width: auto;
    border-radius: 0px;
    height: auto;
    background-color: transparent;
    padding: 0.5rem 0.5rem 0.2rem 0;
    color: var(--main-color);
    opacity: 1;
    border-bottom: 2px solid transparent;
    font-size: 1.8em;
    font-weight: 300;
}

.dashboard .pagination-top .swiper-pagination-bullet-active {
    border-bottom: 2px solid var(--main-color);
    width: fit-content;
    font-weight: 700;
}

.dashboard {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5em 0;
}
.dashboard-swiper{
    position: relative;
    width: 100%;
    height: 65vh;
}
.dashboard .swiper-left {
    width: 50%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.dashboard .swiper-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.dashboard .swiper-pagination.pagination-top {
    position: relative;
}

.dashboard .swiper-pagination.pagination-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.dashboard .swiper-pagination.pagination-bottom .swiper-pagination-bullet {
    margin: 0 3px;
}

.dashboard .swiper-button-next-dashboard {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.dashboard .swiper-button-next-dashboard i {
    width: 100%;
    font-size: 2em;
}

.dashboard .swiper-button-next-dashboard:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}

.dashboard .swiper-button-prev-dashboard {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.dashboard .swiper-button-prev-dashboard i {
    font-size: 2em;
}

.dashboard .swiper-button-prev-dashboard:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}
.dashboard .swiper-pagination{
    text-align: left;
}
/* COVERAGE */
.coverage{
    background: linear-gradient(180deg, #9FD8F0 0%, #FFFFFF 100%);
    background-attachment: fixed;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5em 0;
}
.coverage .bg-title {
    background: var(--white2);
}

.coverage .bg-title h2 {
    text-transform: uppercase;
}
.po-coverage{
    position: relative;
    width: 100%;
    height: 100%;
}

.coverage .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1%;
}
.coverage-logo {
    flex: 1 0 21%;
    margin: 15px 0 15px;
    text-align: center;
}

.coverage .swiper-slide .coverage-logo img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.coverage .swiper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}
.coverage .swiper-wrapper{
    align-items: center;
}
.coverage .swiper-container {
    width: 100%;
    height: 100%;
}

.coverage .pagination-bottom-coverage {
    font-size: 0px;
}

.coverage .pagination-top-coverage {
    position: relative;
    top: 0%;
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.coverage .pagination-top-coverage .swiper-pagination-bullet {
    width: auto;
    border-radius: 0px;
    height: auto;
    background-color: transparent;
    padding: 0.5rem 0.5rem 0.2rem 0;
    color: var(--main-color);
    opacity: 1;
    border-bottom: 2px solid transparent;
    font-size: 2.2em;
    font-weight: 300;
}

.coverage .pagination-top-coverage .swiper-pagination-bullet-active {
    border-bottom: 2px solid var(--main-color);
    width: fit-content;
    font-weight: 700;
}

.coverage-swiper{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 2em;
}
.coverage .swiper-left {
    width: 100%;
    height: auto;
    position: relative;
}

.coverage .swiper-right {
    width: 100%;
    position: relative;
}

.coverage .swiper-pagination.pagination-top-coverage {
    position: relative;
}

.coverage .swiper-pagination.pagination-bottom-coverage {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.coverage .swiper-pagination.pagination-bottom-coverage .swiper-pagination-bullet {
    margin: 0 3px;
}

.coverage .swiper-button-next-coverage {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.coverage .swiper-button-next-coverage i {
    width: 100%;
    font-size: 2em;
}

.coverage .swiper-button-next-coverage:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}

.coverage .swiper-button-prev-coverage {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.coverage .swiper-button-prev-coverage i {
    font-size: 2em;
}

.coverage .swiper-button-prev-coverage:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}
.coverage .swiper-pagination-coverage{
    text-align: left;
}
.ooh{
    flex: 1 0 31%;
    margin: 0;
}
.coverage .swiper-slide .coverage-logo.ooh img{
    height: 160px;
}
/* NEWS CAREERS */
.swiper-button-next2{
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    z-index: 99;
}
.swiper-button-next2 i{
    font-size: 2em;
}
.swiper-button-next2:hover{
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}
.swiper-button-prev2{
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    z-index: 99;
}
.swiper-button-prev2 i{
    font-size: 2em;
}
.swiper-button-prev2:hover{
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}