.news-career.bg__left{
    background-image: url(../img/news-career-bg.svg);
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.05));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.word-area h2{
    font-style: normal;
    font-weight: 500;
}
.swiper-grid-column>.swiper-wrapper .swiper-slide {
    padding: 10px
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* height: calc((100% - 30px) / 2) !important; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-careers-page .swiper-grid-column>.swiper-wrapper{
  max-height: 70em;
  padding-bottom: 1.5em;
}
.news-careers-page .info-career {
  padding: 0em;
  background: var(--main-color);
  color: var(--white2);
  border-radius: 4em;
  overflow: hidden;
  position: relative;
}
.news-careers-page .inner__info-career {
  margin-top: 1em;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 1em 1em 3em;
  height: 9em;
  align-items: flex-start;
}
.news-careers-page .news-careers-page .info-career img{
  max-height: 14em;
}
.news-careers-page .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: -0.3em;
}
.news-careers-page .swiper-slide img {
  max-height: 14em;
}
.info-career__disc a h2{
  color: var(--bg-highlight);
  text-align: left;
}
.info-career__disc p{
  -webkit-line-clamp: 2;
  border-left: 3px solid var(--white2);
  text-align: left;
}
.news-career .swiper{
  padding: 0;
}
.news-careers-page .tab{
  justify-content: space-around;
  font-weight: 400;
  font-size: 2.4em;
  padding: 1em 0;
}
.tablinks{
  padding-bottom: 0.5em;
}
.info-career img{
  border-radius: 0;
}
.news-careers-page .swiper-button-next, 
.news-careers-page .swiper-button-prev{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.news-careers-page .swiper-button-prev{
  left: var(--swiper-navigation-sides-offset,-10px);
}
.news-careers-page .swiper-button-next{
  right: var(--swiper-navigation-sides-offset,-10px);
}
.bg-overlay-news {
  background: linear-gradient(360deg, rgba(0, 67, 129, 0.9) 24.54%, rgba(129, 230, 201, 0.9) 100%);
  transform: rotate(-180deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.news-careers-page .button-area{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  padding: 0em 2.5em;
  background: var(--bg-highlight);
  color: var(--main-color);
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0.5s, opacity 0.5s ease-in-out;
  -webkit-transition: visibility 0.5s, opacity 0.5s ease-in-out;
}
.news-careers-page .news-career__down .button-icon{
  color: var(--main-color);
}
.news-careers-page .button-area .button-text{
  font-weight: 600;
}