<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="../css/about-us-banner.css">
  <link rel="stylesheet" href="../css/test.css">
  <style>

  </style>
</head>

<body>
  <div class="section" id="section0">
    <!-- About-us Banner -->
    <section class="brancherx-about-us-banner">
      <div class="about-us-banner">
        <img src="../img/about-us-kia-5.png">
        <div class="text-area">
          <div class="title-about-us">
            <h2>KIA</h2>
          </div>
        </div>
      </div>
      <div class="about-us-word-ceo">
        <div class="container">
          <div class="word-area">
            <h2>Let's fulfill dreams together
              <br>
              Don't just work harder. Career better
            </h2>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section>
    <div class="inner-branch">
      <div class="inner-branch__left border">
        <div class="show-click">
          <video width="320" height="240" controls>
            <source src="../video/Kia Seltos SP2i_Exterior.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="inner-branch__right">
        <div class="pic-branch">
          <div class="pic border" data-type="video" data-content="https://www.youtube.com/watch?v=HVs4YbKAy08">
            <img src="../img/about-us-citibank.jpg" alt="">
          </div>
          <div class="pic border" data-type="img" data-content="../img/DIGITALMARKETINGcangi_1-768x427.webp">
            <img src="../img/DIGITALMARKETINGcangi_1-768x427.webp" alt="">
          </div>
          <div class="pic border" data-type="img" data-content="../img/about-us-melanocc.jpg">
            <img src="../img/about-us-melanocc.jpg" alt="">
          </div>
          <div class="pic border" data-type="img" data-content="../img/about-us-vietnamair.png">
            <img src="../img/about-us-vietnamair.png" alt="">
          </div>
        </div>
        <div class="challenge-branch">
          <h2>Challenge</h2>
          <p>In 2019, KIA Motors faced a big challenge in asserting its position, when sales is stable, and market share decreased from 10.5% to 9.8%.</p><h2>Challenge</h2>
          <p>In 2019, KIA Motors faced a big challenge in asserting its position, when sales is stable, and market share decreased from 10.5% to 9.8%.</p><h2>Challenge</h2>
          <p>In 2019, KIA Motors faced a big challenge in asserting its position, when sales is stable, and market share decreased from 10.5% to 9.8%.</p><h2>Challenge</h2>
          <p>In 2019, KIA Motors faced a big challenge in asserting its position, when sales is stable, and market share decreased from 10.5% to 9.8%.</p><h2>Challenge</h2>
          <p>In 2019, KIA Motors faced a big challenge in asserting its position, when sales is stable, and market share decreased from 10.5% to 9.8%.</p><h2>Challenge</h2>
          <p>In 2019, KIA Motors faced a big challenge in asserting its position, when sales is stable, and market share decreased from 10.5% to 9.8%.</p>
        </div> 
        <div class="cap">
          <h2>Capabilities</h2>
          <p>TV, OOH, Programmatic Youtube, Online Video, OTT TV, Facebook, SEM.
          </p>
        </div>
      </div>
    </div>
    <div class="branch-result">
      <div class="result">
        <span>Outcomes</span>
      </div>
      <div class="result-disc">
        <ul>
          <li>Brand Sale of H1 2021 increase 115% from 8,496 units to 18,266 units vs H1 2020</li>
          <li>Market Share increase from 10.7% to 15.9% in H1 2021 compared to H1 2020</li>
          <li>KIA Seltos become the Best-selling SUV in Vietnam Market in 2020</li>
          <li>KIA has moved up to rank No.3 from No.6 in the top highest-sale car brands within 1 year 2020</li>
        </ul>
      </div>
    </div>
  </section>
  <script>
    document.querySelectorAll('.pic').forEach(function (picclick) {
        picclick.addEventListener("click", function (evt) {
          // alert(1);
          var content = picclick.getAttribute('data-content');
          var _type = picclick.getAttribute('data-type');
          console.log(content);
          if (_type == 'img') {
            document.querySelector('.show-click').innerHTML = '<img src="'+ content +'">';
          } else {
            var videourl = get_video_id(content);
            document.querySelector('.show-click').innerHTML = '<iframe src="https://www.youtube.com/embed/' + videourl + '?feature=oembed&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>';
          }
          
        });
    });

    function get_video_id(url) {
			var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
			var match = url.match(regExp);
			return (match && match[7].length == 11) ? match[7] : false;
		}
</script>
</body>

</html>