.coverage .bg-title {
    background: var(--bg-highlight);
}

.coverage .bg-title h2 {
    text-transform: uppercase;
}
.po-coverage{
    position: relative;
    width: 100%;
    height: 100%;
}
.coverage .swiper {
    width: 100%;
    height: 100%;
}

.coverage .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coverage .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coverage .swiper {
    margin-left: auto;
    margin-right: auto;
}

.coverage .swiper-container {
    width: 100%;
    height: 100%;
}

.coverage .pagination-bottom {
    font-size: 0px;
}

.coverage .pagination-top {
    position: relative;
    top: 0%;
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coverage .pagination-top .swiper-pagination-bullet {
    width: auto;
    border-radius: 0px;
    height: auto;
    background-color: transparent;
    padding: 0.5rem 0.5rem 0.2rem 0;
    color: var(--main-color);
    opacity: 1;
    border-bottom: 2px solid transparent;
    font-size: 2.2em;
    font-weight: 300;
}

.coverage .pagination-top .swiper-pagination-bullet-active {
    border-bottom: 2px solid var(--main-color);
    width: fit-content;
    font-weight: 700;
}

.coverage {
    width: 100%;
    height: 100%;
    position: relative;
}
.coverage-swiper{
    position: relative;
    width: 100%;
    height: 65vh;
}
.coverage .swiper-left {
    width: 50%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.coverage .swiper-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.coverage .swiper-pagination.pagination-top {
    position: relative;
}

.coverage .swiper-pagination.pagination-bottom {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.coverage .swiper-pagination.pagination-bottom .swiper-pagination-bullet {
    margin: 0 3px;
}

.coverage .swiper-button-next-coverage {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.coverage .swiper-button-next-coverage i {
    width: 100%;
    font-size: 2em;
}

.coverage .swiper-button-next-coverage:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}

.coverage .swiper-button-prev-coverage {
    width: 3em;
    height: 3em;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.coverage .swiper-button-prev-coverage i {
    font-size: 2em;
}

.coverage .swiper-button-prev-coverage:hover {
    color: var(--bg-highlight);
    border-color: var(--bg-highlight);
    background: var(--main-color);
}
.coverage .swiper-pagination{
    text-align: left;
}