<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrancherX</title>
    <link rel="stylesheet" href="../../css/icons.css">
    <link rel="stylesheet" href="../../css/icons.min.css">
    <link rel="stylesheet" href="../../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/style-homebanner.css">
    <link rel="stylesheet" href="../../css/style-home-our-service.css">
    <link rel="stylesheet" href="../../css/style-home-case-studies.css">
    <link rel="stylesheet" href="../../css/style-home-views-career.css">
    <link rel="stylesheet" href="../../css/style-home-form-master.css">
    <link rel="stylesheet" href="../../css/style-footer.css">
    <link rel="stylesheet" href="../../css/style-menu-pc.css">
    <link rel="stylesheet" href="../../css/odometer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
</head>
<body>
    <footer>
        <div class="footer-disc__up">
            <div class="footer-title">
                <h2>WHERE WE ARE LOCATED</h2>
            </div>
            <div class="located">
                <ul class="located-disc">
                    <h4>SINGAPORE</h4>
                    <li class="items phone">
                        <div class="icon">
                            <i class="ri-phone-fill"></i>
                        </div>
                        <a href="tel: 65 9760 1919">+65 9760 1919</a>
                    </li>
                    <li class="items email">
                        <div class="icon">
                            <i class="ri-mail-open-fill"></i>
                        </div>
                        <a href="mailto: hello@brancherx.com">hello@brancherx.com</a>
                    </li>
                    <li class="items location">
                        <div class="icon">
                            <i class="ri-map-pin-range-fill"></i>
                        </div>
                        <span>Duxton Road, Singapore</span>
                    </li>
                </ul>
                <ul class="located-disc">
                    <h4>HO CHI MINH</h4>
                    <li class="items phone">
                        <div class="icon">
                            <i class="ri-phone-fill"></i>
                        </div>
                        <a href="tel: 84 287 303 0568">(+84) 287 303 0568</a>
                    </li>
                    <li class="items email">
                        <div class="icon">
                            <i class="ri-mail-open-fill"></i>
                        </div>
                        <a href="mailto: hello@brancherx.com">hello@brancherx.com</a>
                    </li>
                    <li class="items location">
                        <div class="icon">
                            <i class="ri-map-pin-range-fill"></i>
                        </div>
                        <span>09 Dinh Tien Hoang Street, Da Kao Ward, 01 District, Ho Chi Minh City</span>
                    </li>
                </ul>
                <ul class="located-disc">
                    <h4>HA NOI</h4>
                    <li class="items phone">
                        <div class="icon">
                            <i class="ri-phone-fill"></i>
                        </div>
                        <a href="tel: 84 287 303 0568">(+84) 287 303 0568</a>
                    </li>
                    <li class="items email">
                        <div class="icon">
                            <i class="ri-mail-open-fill"></i>
                        </div>
                        <a href="mailto: hello@brancherx.com">hello@brancherx.com</a>
                    </li>
                    <li class="items location">
                        <div class="icon">
                            <i class="ri-map-pin-range-fill"></i>
                        </div>
                        <span>11 Tran Hung Dao Street, Phan Chau Trinh Ward, Hoan Kiem District, Ha Noi City</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-disc__down">
            <div class="side-map-main">
                <h2>Site map</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">Case Studies</a></li>
                    <li><a href="#">News & Careers</a></li>
                    <li><a href="#">Recruitment</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <div class="slogan">
                    <h2>“We use the power of idea, creativity, media and data, to drive growth and to drive change, helping brands engage with their audiences and businesses grow sustainably.”</h2>
                </div>
                <div class="logo-area-footer">
                    <img src="../../img/BrancherX-x-WorldWide-02-300x82.webp" alt="">
                </div>
                <div class="social">
                    <div class="tele">
                        <i class="ri-phone-fill"></i>
                        <a href="tel: 84 287 303 0568">(+84) 287 303 0568</a>
                    </div>
                    <div class="icon-social">
                        <a href="#"><i class=" ri-facebook-fill"></i></a>
                        <a href="#"><i class=" ri-linkedin-fill"></i></a>
                        <a href="#"><i class=" ri-youtube-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>