<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BrancherX</title>
        <link rel="stylesheet" type="text/css" href="../../css/fullpage.css">
        <link rel="stylesheet" href="../../css/icons.css">
        <link rel="stylesheet" href="../../css/icons.min.css">
        <link rel="stylesheet" href="../../css/default.css">
        <link rel="stylesheet" href="../../css/odometer.css">
        <link rel="stylesheet" href="../../css/swiper-bundle.min.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/style-header.css">
        <link rel="stylesheet" href="../..//css/about-us-banner.css">
        <link rel="stylesheet" href="../../css/style-footer.css">
        <link rel="stylesheet" href="../../css/style-menu-pc.css">
        <link rel="stylesheet" href="../../css/style-mobilemenu.css">
        <link rel="stylesheet" href="../../css/responsive.css">
    </head>
    
    <body>
        <!-- About-us Banner -->
        <section class="brancherx-about-us-banner">
            <div class="about-us-banner">
                <img src="../../img/about-us-banner.png">
                <div class="text-area">
                    <div class="title-about-us">
                        <h4>WELCOME TO</h4>
                        <h2>BRANCHER.X</h2>
                    </div>
                </div>
            </div>
            <div class="about-us-word-ceo">
                <div class="container">
                    <div class="word-area">
                        <h2>“We are here to make a meaningful difference to brands, to businesses and  to people. We are using the power of ideas, creativity, media, data and entertainment, to drive growth and to drive change, helping brands better  engage with their communities”</h2>
                    </div>
                    <div class="title-word">
                        <h4>WORD FROM CEO - MELVIN LIM</h4>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
