<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrancherX</title>
    <link rel="stylesheet" href="../../css/icons.css">
    <link rel="stylesheet" href="../../css/icons.min.css">
    <link rel="stylesheet" href="../../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/style-homebanner.css">
    <link rel="stylesheet" href="../../css/style-home-our-service.css">
    <link rel="stylesheet" href="../../css/style-home-case-studies.css">
    <link rel="stylesheet" href="../../css/style-home-views-career.css">
    <link rel="stylesheet" href="../../css/style-menu-pc.css">
    <link rel="stylesheet" href="../../css/odometer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
</head>
<body>
    <section class="news-career bg__left" style="background-image: url(../../img/new-career-bg.svg) ;">
        <div class="news-career__up container">
            <div class="bg-title">
                <h2>NEWS & CAREERS</h2>
            </div>
        </div>
        <div class="news-career__down container">
            <div class="tab">
                <div data-id="tab1" class="tablinks active">
                    <span>Company News</span>
                </div>
                <div data-id="tab2" class="tablinks">
                    <span>Careers</span> 
                </div>
                <div data-id="tab3" class="tablinks">
                    <span>Knowledge hub</span>
                </div>
            </div>
            <div class="list-tab">
                <div id="tab1" class="tabcontent active">
                    <!-- Swiper -->
                    <div class="swiper mySwiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../img/contact-form-bg-768x498.webp" />
                            </div>
                            <div class="swiper-slide">
                                <div class="info-career">
                                    <img src="../../img/brancherX-media-768x403.webp" alt="">
                                    <div class="inner__info-career">
                                        <div class="info-career__disc">
                                            <a href="#">
                                                <h2>Networld Asia Group lauches a full-service communications ecosystem</h2>
                                            </a>
                                            <div class="disc-news">
                                                <p>
                                                    On August 02, 2022, RECMA - a worldwide research company specializing in agency evaluation recently published a report about agencies in the Vietnam market. In this report, Brancher.X is rated first among the "Top 5 High Profile Agency" (Top 5 most capable agencies in Vietnam). 
                                                </p>
                                            </div>
                                        </div>
                                        <div class="button-icon">
                                            <i class="ri-arrow-right-circle-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../../img/contact-form-bg-768x498.webp" />
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div id="tab2" class="tabcontent">
                    <!-- Swiper -->
                    <div class="swiper mySwiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../img/PhoneCall-1020x658-1-768x495.webp" />
                            </div>
                            <div class="swiper-slide">
                                <div class="info-career">
                                    <img src="../../img/FPT-Polytechnic.Designer-300x215.webp" alt="">
                                    <div class="inner__info-career">
                                        <div class="info-career__disc">
                                            <a href="#">
                                                <h2> ART LEAD</h2>
                                            </a>
                                            <p>
                                                Create creative concept, art concept and ideation for all creative assets base on the creative direction and the key message.  
                                            </p>
                                        </div>
                                        <div class="button-icon">
                                            <i class="ri-arrow-right-circle-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../../img/DIGITALMARKETINGcangi_1-768x427.webp" />
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div id="tab3" class="tabcontent">
                    <!-- Swiper -->
                    <div class="swiper mySwiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="../../img/cover_1280x720-800-resize-768x432.webp" />
                            </div>
                            <div class="swiper-slide">
                                <div class="info-career">
                                    <img src="../../img/shutterstock-1439398067-1-768x432.webp" alt="">
                                    <div class="inner__info-career">
                                        <div class="info-career__disc">
                                            <a href="#">
                                                <h2>How Book Publishers In Vietnam Make Money?</h2>
                                            </a>
                                            <p>
                                                Publishers worldwide are going the extra mile to achieve their yearly goals during the second half of the year when many prestigious book awards are given to the worthiest titles and authors. Vietnam’s publishing industry is no exception. In particular, Vietnam National Book Award has recently announced its winners and introduced many original and outstanding books to a large audience. 
                                            </p>
                                        </div>
                                        <div class="button-icon">
                                            <i class="ri-arrow-right-circle-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img src="../../img/LinkedIn-Post-Template-82-768x402.webp" />
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
        </div>
        </div>
    </section>
     <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script>
        document.querySelectorAll('.tablinks').forEach(function(itemclick) {
            itemclick.addEventListener("click", function(evt3) {
                var teacher = this.getAttribute("data-id");
                document.querySelectorAll('.tabcontent').forEach(function(evtre) {
                    console.log(teacher);
                    evtre.classList.remove('active');
                });
                document.querySelectorAll('.tablinks').forEach(function(retablinks) {
                    retablinks.classList.remove('active');});
                itemclick.classList.add('active');
                document.getElementById(teacher).classList.add('active');
            });
        });
    </script>
    
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper1", {
            observer: true,
            observeParents: true,
            initialSlide: 1,
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            //   centeredSlides: true,
            //   loop: true,
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                    spaceBetween: 10,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 10,
                    grabCursor: false,
                },
                991: {
                    slidesPerView: 3,
                    spaceBetween: 10,
                },
            },
            pagination: {
                el: ".swiper-pagination"
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            },
        });
    
    </script>
    
</body>
</html>