<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrancherX</title>
    <link rel="stylesheet" href="../../css/icons.css">
    <link rel="stylesheet" href="../../css/icons.min.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/style-header.css">
    <link rel="stylesheet" href="../../css/style-menu-pc.css">
    <link rel="stylesheet" href="../../css/responsive.css">
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Header - Top -->
        <div class="header-top">
            <div class="container top-wrapper">
                <div class="wrapper-social">
                    <div class="wrapper-social__item">
                        <a href="#">
                            <i class="ri-instagram-line"></i>
                            <span>100k Followers</span>
                        </a>
                    </div>
                    <div class="wrapper-social__item">
                        <a href="#">
                            <i class="ri-facebook-box-fill"></i>
                            <span>500k Followers</span>
                        </a>
                    </div>
                    <div class="wrapper-social__item">
                        <a href="#">
                            <i class="ri-phone-line"></i>
                            <span>+84-235-2845-2648</span>
                        </a>
                    </div>
                </div>
                <div class="top-wrapper__center">
                    <span class="hot">Hot</span>
                    <span class="news-text">
                        <img src="../../img/hand-emojji.svg">
                        Intro price. Get BrancherX for Big Sale -50% off
                    </span>
                </div>
                <div class="top-wrapper__right">
                    <div class="icon">
                        <a href="#"><i class=" ri-facebook-fill"></i></a>
                        <a href="#"><i class=" ri-twitter-fill"></i></a>
                        <a href="#"><i class=" ri-linkedin-fill"></i></a>
                        <a href="#"><i class=" ri-instagram-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bot">
            <div class="container mainbar">
                <div class="btn-menu-mobile">
                    <i class="ri-menu-line"></i>
                </div>
                <div class="mainbar__left">
                    <div class="header__info">
                        <div class="logo">
                            <a href="#">
                                <img src="../../img/large-logo.png" alt="BrancherX">
                            </a>
                        </div>
                    </div>
                    <div class="header__info">
                        <div class="category-menu__wrapper">
                            <div class="category__activation">
                                <div class="category-icon">
                                    <i class=" ri-function-line"></i>
                                </div>
                                <span>Category</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-navigation">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="menu-child-item">
                                <a href="#">
                                    Home
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                            </li>
                            <li class="menu-child-item">
                                <a href="#">
                                    Courses
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                            </li>
                            <li class="menu-child-item">
                                <a href="#">
                                    Dashboard
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                            </li>
                            <li class="menu-child-item">
                                <a href="#">
                                    Pages
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                            </li>
                            <li class="menu-child-item">
                                <a href="#">
                                    Elements
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                            </li>
                            <li class="menu-child-item">
                                <a href="#">
                                    Blog
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="search">
                        <i class="ri-search-line"></i>
                    </div>
                    <div class="lag">
                        <div class="swap-lag">
                            <img src="../../img/en-us.png" alt="">
                            <span class="english">English</span>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <ul class="sub-menu-lag">
                            <li class="lag">
                                <img src="../../img/Flag_of_Vietnam.svg" alt="">
                                <div class="swap-lag">
                                    <span>Vietnam</span>
                                </div>
                            </li>
                            <li class="lag">
                                <img src="../../img/Flag_of_South_Korea.png" alt="">
                                <div class="swap-lag">
                                    <span>Korea</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Mobile Menu -->
    <div class="popup-mobile-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content-mobile">
                    <div class="logo">
                        <img src="../../img/large-logo.png" alt="">
                    </div>
                    <div class="close-btn">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
                <p>BrancherX is a branch website template. You can customize all.</p>
                <ul class="contact">
                    <li>                    
                        <i class=" ri-mail-line"></i>
                        <span>example@gmail.com</span>
                    </li>
                    <li>
                        <i class="ri-phone-line"></i>
                        <span>302-555-0107</span>
                    </li>
                </ul>
            </div>
            <div class="mainmenu-nav">
                <li class="accordion">
                    <a href="#" class="mobile mobile-menu1">
                        <span>Home</span>
                        <div class="close-btn"></div>
                    </a>
                    <ul class="panel child-menu">
                        <li><a href="#">Home Demo</a></li>
                        <li><a href="#">Marketplace</a></li>
                        <li><a href="#">Kindergatenace</a></li>
                        <li><a href="#">University Classic</a></li>
                        <li><a href="#">Home Elegent</a></li>
                        <li><a href="#">Gym Coaching</a></li>
                        <li><a href="#">Online School</a></li>
                        <li><a href="#">University Status</a></li>
                        <li><a href="#">Home Technology</a></li>
                        <li><a href="#">Instructor Portfolio</a></li>
                        <li><a href="#">Language Academy</a></li>
                        <li><a href="#">Single Course</a></li>
                        <li><a href="#">Online Course</a></li>
                        <li><a href="#">Classic Lms</a></li>
                        <li><a href="#">Course School</a></li>
                    </ul>
                </li>
            </div>
            <div class="mobile-menu-btn"></div>
        </div>
    </div>
</body>
</html>