<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrancherX</title>
    <link rel="stylesheet" href="../../css/icons.css">
    <link rel="stylesheet" href="../../css/icons.min.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/style-homebanner.css">
    <link rel="stylesheet" href="../../css/style-home-about-us.css">
    <link rel="stylesheet" href="../../css/style-menu-pc.css">
    <link rel="stylesheet" href="../../css/odometer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
</head>
<body>
    <section class="about-us bg__left container" style="background-image: url(../../img/about-us-count-nummber-bg.svg) ;">
        <div class="about-us__title">
            <div class="bg-title">
                <h2>INTERNATIONAL QUALITY</h2>
            </div>
            <h4>LOCAL UNDERSTANDING</h4>
        </div>
        <div class="about-us__counter">
            <div class="count-box box1">
                <div class="content-counter">
                    <h3 class="counter"><span class="odometer" data-count="50">00</span>
                    </h3>
                </div>
                <span class="counter_disc">
                    USD REVENUE
                </span>
            </div>
            <div class="count-box box2">
                <div class="content-counter">
                    <h3 class="counter">
                        <span class="odometer odometer-auto-theme" data-count="300">000
                        </span>
                    </h3>
                </div>
                <span class="counter_disc">
                    EMPLOYEES
                </span>
            </div>
            <div class="count-box box2">
                <div class="content-counter">
                    <h3 class="counter">
                        <span class="odometer odometer-auto-theme" data-count="13">00
                        </span>
                    </h3>
                </div>
                <span class="counter_disc">
                    YEARS' EXPERIENCE
                </span>
            </div>
        </div>
        <div class="trust-us__title">
            <div class="bg-title">
                <h2>INTERNATIONAL QUALITY</h2>
            </div>
            <div class="border-scroll">
                <div class="scroll-animation-wrapper">
                    <div class="scroll-animation rightto-left ">
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Abbott-png-300x77.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Alaxan-300x225.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/AstraZeneca-300x73.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Baemin-png-300x150.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Care-png.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Chuk-chuk-png-300x58.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Citibank-png-300x188.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Coway-300x74.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Danone-png-232x300.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Decolgen-300x150.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/dermatix-png.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Emirates-png-300x188.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Enervon-c-scaled-1-300x212.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Envy-300x125.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Friso-png-300x142.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Greenfeed-300x235.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/GSKpng-300x258.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Hung-Loc-Phat-300x234.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Huyndai-png-300x200.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Johnson-png-300x90.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/K.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/large-logo.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/LOreal-png-300x188.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/macallan-png-1.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Mega-we-care-png-300x137.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Merap-new-1-scaled-1-300x70.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Michelin-png-1-300x188.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Motul-png-300x214.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Naver-png-300x58.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/OPV-png.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Philips-png-300x55.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/ROHTO-png-300x112.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Sanofi-300x63.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/saporro-png-1-300x55.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/SCB-png-300x124.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Shema-1.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/vedan-png-300x78.png">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Vietnam_Airlines-png-scaled-1-300x42.webp">
                        </div>
                        <div class="item-logo">
                            <img src="../../img/logo-branch/Xisat-1.webp">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>

    <!-- COUNTER NUMBER -->
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/jquery-appear.js"></script>
    <script src="../../js/odometer.js"></script>
    <script>
        window.odometerOptions = {
        duration: 4000, // Change how long the javascript expects the CSS animation to take
        };
        var odo = $('.odometer');
        odo.each(function () {
            $('.odometer').appear(function (e) {
                var countNumber = $(this).attr('data-count');
                $(this).html(countNumber);
            });
        });
    </script>
</body>
</html>