<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrancherX</title>
    <link rel="stylesheet" href="../../css/icons.css">
    <link rel="stylesheet" href="../../css/icons.min.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/style-header.css">
    <link rel="stylesheet" href="../../css/style-menu-pc.css">
    <link rel="stylesheet" href="../../css/responsive.css">
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Header - Top -->
        <div class="header-top">
            <div class="container top-wrapper">
                <div class="wrapper-social">
                    <div class="wrapper-social__item">
                        <a href="#">
                            <i class="ri-instagram-line"></i>
                            <span>100k Followers</span>
                        </a>
                    </div>
                    <div class="wrapper-social__item">
                        <a href="#">
                            <i class="ri-facebook-box-fill"></i>
                            <span>500k Followers</span>
                        </a>
                    </div>
                    <div class="wrapper-social__item">
                        <a href="#">
                            <i class="ri-phone-line"></i>
                            <span>+84-235-2845-2648</span>
                        </a>
                    </div>
                </div>
                <div class="top-wrapper__center">
                    <span class="hot">Hot</span>
                    <span class="news-text">
                        <img src="../../img/hand-emojji.svg">
                        Intro price. Get BrancherX for Big Sale -50% off
                    </span>
                </div>
                <div class="top-wrapper__right">
                    <div class="icon">
                        <a href="#"><i class=" ri-facebook-fill"></i></a>
                        <a href="#"><i class=" ri-twitter-fill"></i></a>
                        <a href="#"><i class=" ri-linkedin-fill"></i></a>
                        <a href="#"><i class=" ri-instagram-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header - Bot -->
        <div class="header-bot">
            <div class="container mainbar">
                <div class="btn-menu-mobile">
                    <i class="ri-menu-line"></i>
                </div>
                <div class="mainbar__left">
                    <div class="header__info">
                        <div class="logo">
                            <a href="#">
                                <img src="../../img/large-logo.png" alt="BrancherX">
                            </a>
                        </div>
                    </div>
                    <div class="header__info">
                        <div class="category-menu__wrapper">
                            <div class="category__activation">
                                <div class="category-icon">
                                    <i class=" ri-function-line"></i>
                                </div>
                                <span>Category</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-navigation">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="menu-child-item">
                                <a href="#">
                                    Home
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                            </li>
                            <li class="menu-child-item">
                                <a href="#">
                                    Courses
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <div class="courses-dropdown">
                                    <div class="top-content-courses">
                                        <div class="content-courses">
                                            <h3>Developer hub</h3>
                                            <p>Start building fast, with code samples, key resources and more.</p>
                                        </div>
                                    </div>
                                    <div class="sub-menu-courses">
                                        <ul class="course-layout">
                                            <span>COURSE LAYOUT</span>
                                            <li><a href="#">Filter One Toggle</a></li>
                                            <li><a href="#">Filter One Open</a></li>
                                            <li><a href="#">Filter Two Toggle</a></li>
                                            <li><a href="#">Filter Two Open</a></li>
                                            <li><a href="#">Course With Tab</a></li>
                                            <li><a href="#">Course With Tab Two</a></li>
                                            <li><a href="#">Courses Card Two</a></li>
                                        </ul>
                                        <ul class="course-layout">
                                            <span>COURSE LAYOUT</span>
                                            <li><a href="#">Course Card Three</a></li>
                                            <li><a href="#">Course Masonry</a></li>
                                            <li><a href="#">Course With Sidebar</a></li>
                                            <li><a href="#">Course Details</a></li>
                                            <li><a href="#">Course Details Two</a></li>
                                            <li><a href="#">Course Lesson</a></li>
                                            <li><a href="#">Create Course</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-child-item">
                                <a href="#">
                                    Dashboard
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dashboard-dropdown">
                                    <li class="has-dropdown">
                                        <a href="#">Instructor Dashboard</a>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Student Dashboard</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-child-item pages-posi">
                                <a href="#">
                                    Pages
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <div class="pages-dropdown">
                                    <ul class="sub-menu-pages pages-layout">
                                        <span>GET STARTED</span>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">About Us 02</a></li>
                                        <li><a href="#">Event Grid</a></li>
                                        <li><a href="#">Event List</a></li>
                                        <li><a href="#">Event Slidebar</a></li>
                                        <li><a href="#">Event Details</a></li>
                                        <li><a href="#">Academy Gallery</a></li>
                                        <li><a href="#">Admission Guide</a></li>
                                    </ul>
                                    <ul class="sub-menu-pages pages-layout">
                                        <span>GET STARTED</span>
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Become a Teacher</a></li>
                                        <li><a href="#">Intructor</a></li>
                                        <li><a href="#">FAQS</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">404 Page</a></li>
                                        <li><a href="#">Maintenance</a></li>
                                    </ul>
                                    <ul class="sub-menu-pages pages-layout">
                                        <span>SHOP PAGES</span>
                                        <li>
                                            <div class="hot-tag">
                                                <a href="#">Shop</a>
                                                <span>Sale Anything</span>
                                            </div>
                                        </li>
                                        <li><a href="#">Single Product</a></li>
                                        <li><a href="#">Cart Page</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Wishlist Page</a></li>
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Login & Register</a></li>
                                        <li><a href="#">Subscription</a></li>
                                    </ul>
                                    <div class="sub-menu-pages">
                                        <div class="nav-pages">
                                            <div class="thumb">
                                                <div class="img">
                                                    <img src="https://rainbowit.net/html/histudy/assets/images/course/category-2.png"
                                                        alt="">
                                                </div>
                                                <a href="#">
                                                    <span>Online Education</span>
                                                    <i class=" ri-arrow-right-s-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="nav-pages">
                                            <div class="thumb">
                                                <div class="img">
                                                    <img src="https://rainbowit.net/html/histudy/assets/images/course/category-1.png"
                                                        alt="">
                                                </div>
                                                <a href="#">
                                                    <span>Language Club</span>
                                                    <i class=" ri-arrow-right-s-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="nav-pages">
                                            <div class="thumb">
                                                <div class="img">
                                                    <img src="https://rainbowit.net/html/histudy/assets/images/course/category-4.png"
                                                        alt="">
                                                </div>
                                                <a href="#">
                                                    <span>University Status</span>
                                                    <i class=" ri-arrow-right-s-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="nav-pages">
                                            <div class="thumb">
                                                <div class="img">
                                                </div>
                                                <a href="#">
                                                    <span>Course School</span>
                                                    <i class=" ri-arrow-right-s-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="nav-pages">
                                            <div class="thumb">
                                                <div class="img">
                                                    <img src="https://rainbowit.net/html/histudy/assets/images/course/category-9.png"
                                                        alt="">
                                                </div>
                                                <a href="#">
                                                    <span>Academy</span>
                                                    <i class=" ri-arrow-right-s-line"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                            </li>
                            <li class="menu-child-item pages-posi">
                                <a href="#">
                                    Elements
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <div class="elements-dropdown">
                                    <div class="nav-elements">
                                        <ul class="sub-menu-elements elements-layout">
                                            <li>
                                                <a class="add-tag" href="#">Style Guide
                                                    <div class="hot-tag">
                                                        <span>Hot</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li><a href="#">Accordion</a></li>
                                            <li><a href="#">Advance Tab</a></li>
                                            <li><a href="#">Brand</a></li>
                                            <li><a href="#">Button</a></li>
                                            <li><a href="#">Badge</a></li>
                                            <li><a href="#">Card</a></li>
                                            <li><a href="#">Call To Action</a></li>
                                        </ul>
                                        <ul class="sub-menu-elements elements-layout">
                                            <li><a href="#">Counter</a></li>
                                            <li><a href="#">Categories</a></li>
                                            <li><a href="#">Header Style</a></li>
                                            <li><a href="#">Newsletter</a></li>
                                            <li><a href="#">Team</a></li>
                                            <li><a href="#">Social</a></li>
                                            <li><a href="#">List Style</a></li>
                                            <li><a href="#">Gallery</a></li>
                                        </ul>
                                        <ul class="sub-menu-elements elements-layout">
                                            <li><a href="#">Pricing</a></li>
                                            <li><a href="#">Progressbar</a></li>
                                            <li><a href="#">Testimonial</a></li>
                                            <li><a href="#">Service</a></li>
                                            <li><a href="#">Split Area</a></li>
                                            <li><a href="#">Search Style</a></li>
                                            <li><a href="#">Instagram Style</a></li>
                                            <li><a href="#">& More Coming</a></li>
                                        </ul>
                                    </div>
                                    <div class="bot-elements">
                                        <a href="#" class="warp-elements">
                                            <span>Visit BrancherX Template</span>
                                            <span class="wrap-icon">
                                                <i class="ri-arrow-right-line"></i>
                                            </span>
                                            <span class="wrap-icon">
                                                <i class="ri-arrow-right-line"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-child-item pages-posi">
                                <a href="#">
                                    Blog
                                    <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <div class="blog-dropdown">
                                    <ul class="sub-menu-blog blog-layout">
                                        <span>BLOG STYLE</span>
                                        <li><a href="#">Blog List</a></li>
                                        <li><a href="#">Blog Grid</a></li>
                                        <li><a href="#">Blog Grid Minimal</a></li>
                                        <li><a href="#">Blog Grid Sidebar</a></li>
                                        <li><a href="#">Blog Details</a></li>
                                        <li><a href="#">Post Format Standard</a></li>
                                        <li><a href="#">Post Format Gallery</a></li>
                                    </ul>
                                    <ul class="sub-menu-blog blog-layout">
                                        <span>GET STARTED</span>
                                        <li><a href="#">Post Format Quote</a></li>
                                        <li><a href="#">Post Format Audio</a></li>
                                        <li><a href="#">Post Format Video</a></li>
                                        <li>
                                            <a class="add-tag" href="#">Media Under Title
                                                <div class="hot-tag">
                                                    <span>Coming</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="add-tag" href="#">Sticky Slidebar
                                                <div class="hot-tag">
                                                    <span>Coming</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="add-tag" href="#">Auto Masonry
                                                <div class="hot-tag">
                                                    <span>Coming</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="add-tag" href="#">Meta Overlaid
                                                <div class="hot-tag">
                                                    <span>Coming</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="sub-menu-blog img-inner-blog">
                                        <a class="img-blog" href="#">
                                            <img src="https://rainbowit.net/html/histudy/assets/images/service/mobile-cat.jpg"></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="search">
                        <i class="feather-search"></i>
                    </div>
                    <div class="lag">
                        <div class="swap-lag">
                            <img src="../../img/en-us.png" alt="">
                            <span class="english">English</span>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <ul class="sub-menu-lag">
                            <li class="lag">
                                <img src="../../img/Flag_of_Vietnam.svg" alt="">
                                <div class="swap-lag">
                                    <span>Vietnam</span>
                                </div>
                            </li>
                            <li class="lag">
                                <img src="../../img/Flag_of_South_Korea.png" alt="">
                                <div class="swap-lag">
                                    <span>Korea</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-dropdown">
            <form class="form-search" action="#">
                <input type="text" placeholder="What are you looking for?">
                <div class="slider-btn">
                    <a href="#" class="warp-course">
                        <span>Search</span>
                    </a>
                </div>
            </form>
            <div class="list-course">
                <span>OUR TOP COURSE</span>
                <div class="list-top-course">
                    <div class="card-slide wiper-mid">
                        <div class="card-img">
                            <a href="#">
                                <img src="../../img/course-online-01.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">React JS</a>
                            </h4>
                            <div class="card-rating">
                                <div class="rating">
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                </div>
                                <span class="course-review">(15 reviews)</span>
                            </div>
                            <div class="card-bottom card-price">
                                <span class="current-price">$15</span>
                                <span class="off-price">$25</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-slide wiper-mid">
                        <div class="card-img">
                            <a href="#">
                                <img src="../../img/course-online-02.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Java Program</a>
                            </h4>
                            <div class="card-rating">
                                <div class="rating">
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                </div>
                                <span class="course-review">(15 reviews)</span>
                            </div>
                            <div class="card-bottom card-price">
                                <span class="current-price">$10</span>
                                <span class="off-price">$40</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-slide wiper-mid">
                        <div class="card-img">
                            <a href="#">
                                <img src="../../img/course-online-03.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Web Design</a>
                            </h4>
                            <div class="card-rating">
                                <div class="rating">
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                </div>
                                <span class="course-review">(15 reviews)</span>
                            </div>
                            <div class="card-bottom card-price">
                                <span class="current-price">$10</span>
                                <span class="off-price">$20</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-slide wiper-mid">
                        <div class="card-img">
                            <a href="#">
                                <img src="../../img/course-online-04.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Web Design</a>
                            </h4>
                            <div class="card-rating">
                                <div class="rating">
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                    <i class="ri-star-s-fill"></i>
                                </div>
                                <span class="course-review">(15 reviews)</span>
                            </div>
                            <div class="card-bottom card-price">
                                <span class="current-price">$20</span>
                                <span class="off-price">$40</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Search -->
    <script>
        var root = document.documentElement;
        document.querySelector('.search').addEventListener("click", function(search) {
            document.querySelector('.feather-search').classList.toggle('active');
            document.querySelector('.search-dropdown').classList.toggle('active');
            root.classList.toggle('side-nav-opened');
        });
        window.addEventListener("click", function(evt) {
            console.log(evt.target.classList.toString());
        })
        document.querySelectorAll('.side-nav-opened', '.header-top').forEach( function(research) {
            console.log(document.querySelectorAll('.side-nav-opened', '.header-top'));
            research.addEventListener("click", function(evt1) {
                document.querySelector('.feather-search').classList.remove('active');
                document.querySelector('.search-dropdown').classList.remove('active');
                root.classList.remove('side-nav-opened');
            });
        });
    </script>
</body>
</html>