<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrancherX</title>
    <link rel="stylesheet" href="../../css/icons.css">
    <link rel="stylesheet" href="../../css/icons.min.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/style-homebanner.css">
    <link rel="stylesheet" href="../../css/style-your-business.css">
    <link rel="stylesheet" href="../../css/style-menu-pc.css">
    <link rel="stylesheet" href="../../css/responsive.css">
</head>
<body>
    <section>
        <!-- Home Section Your Business -->
        <div class="brancherx-home-your-business">
            <div class="home-your-business-up">
                <div class="img-business">
                    <!-- Get Field Home Business Image Up-->
                    <img src="../../img/home-your-business.webp"
                        alt="home-your-business-2-3">
                </div>
                <div class="inner-business">
                    <div class="title">
                        <!-- Get Field Home Business Title Up-->
                        <h2>WHAT WE DO</h2>
                        <span>COMPREHENSIVE ADVERTISING 
                             <br>SOLUTION</br></span>
                    </div>
                    <div class="description">
                        <!-- Get Field Home Business Description Up-->
                        <h4 class="description-content">We are a Communication group specializing in Marketing Service, Creative
                            Advertising, Digital Media and Corporate Communication. Based on Big Data
                            & Marketing Expertise, we offer integrated communication strategies that
                            drive results for your business. </h4>
                        <div class="button-area">
                            <a href="#"
                                class="brancherx-btn-main">
                                <div class="button-text">
                                    Learn More
                                </div>
                                <div class="button-icon">
                                    <i class="ri-arrow-right-circle-line"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-your-business-down container">
                <!-- Get Field Home Business Title Down -->
                <h2 class="box-above">WE HELP YOUR BUSINESS</h2>
                <div class="down-box-under">
                    <div class="icon-area">
                        <div class="icon-circle">
                            <!-- Get Field Home Business Icon Down -->
                            <img src="../../img/home-your-business-1.svg"
                                alt="home-your-business-1" loading="lazy">
                        </div>
                        <!-- Get Field Home Business Description Down -->
                        <h4 class="icon-description">Create meaningful branding</h4>
                    </div>
                    <div class="icon-area">
                        <div class="icon-circle">
                            <!-- Get Field Home Business Icon Down -->
                            <img src="../../img/home-your-business-2.svg"
                                alt="home-your-business-2" loading="lazy">
                        </div>
                        <!-- Get Field Home Business Description Down -->
                        <h4 class="icon-description">Drive growth sustainably</h4>
                    </div>
                    <div class="icon-area">
                        <div class="icon-circle">
                            <!-- Get Field Home Business Icon Down -->
                            <img src="../../img/home-your-business-3.svg"
                                alt="home-your-business-3" loading="lazy">
                        </div>
                        <!-- Get Field Home Business Description Down -->
                        <h4 class="icon-description">Help brands engage with their audience</h4>
                        </div>
                    <div class="icon-area">
                        <div class="icon-circle">
                            <!-- Get Field Home Business Icon Down -->
                            <img src="../../img/home-your-business-4.svg"
                                alt="home-your-business-4" loading="lazy">
                        </div>
                        <!-- Get Field Home Business Description Down -->
                         <h4 class="icon-description">Optimize your budget</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>