<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrancherX</title>
    <link rel="stylesheet" href="../../css/icons.css">
    <link rel="stylesheet" href="../../css/icons.min.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/style-homebanner.css">
    <link rel="stylesheet" href="../../css/style-home-our-service.css">
    <link rel="stylesheet" href="../../css/style-menu-pc.css">
    <link rel="stylesheet" href="../../css/odometer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
</head>
<body>
    <section class="our-service">
        <div class="our-serivce__up container">
            <div class="bg-title">
                <h2>OUR SERVICE</h2>
            </div>
            <p class="our-service__disc">
                We offer all-inclusive communication services. We are always dedicated to find the best solution for each client.
            </p>
        </div>
        <div class="our-serivce__down container">
            <div class="flip-card">
                <div class="flip-card__inner">
                    <div class="flip-icon">
                        <img src="../../img/our-service-icon-2.svg" alt="">
                        <div class="flip-icon-border"></div>
                    </div>
                    <div class="flip-card__front">
                        <img src="../../img/media-2-300x169.webp" alt="">
                        <h2>MEDIA</h2>
                        <div class="flip-front-overlay"></div>
                        <div class="flip-back-overlay"></div>
                    </div>
                    <div class="flip-card__back">
                        <div class="flip-card__back-overlay"></div>
                        <div class="flip-back-disc">
                            <h4>
                                Strategic Media Planning
                                <br>
                                Effective Media Buying
                                <br>
                                Reporting
                            </h4>
                            <div class="button-area">
                                <a href="#"
                                    class="brancherx-btn-main">
                                    <div class="button-text">
                                        Learn More
                                    </div>
                                    <div class="button-icon">
                                        <i class="ri-arrow-right-circle-line"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card__inner">
                    <div class="flip-icon">
                        <img src="../../img/our-service-icon-1.svg" alt="">
                        <div class="flip-icon-border"></div>
                    </div>
                    <div class="flip-card__front">
                        <img src="../../img/digital-1-1-300x169.webp" alt="">
                        <h2>MEDIA</h2>
                        <div class="flip-front-overlay"></div>
                        <div class="flip-back-overlay"></div>
                    </div>
                    <div class="flip-card__back">
                        <div class="flip-card__back-overlay"></div>
                        <div class="flip-back-disc">
                            <h4>
                                Strategic Media Planning
                                <br>
                                Effective Media Buying
                                <br>
                                Reporting
                            </h4>
                            <div class="button-area">
                                <a href="#"
                                    class="brancherx-btn-main">
                                    <div class="button-text">
                                        Learn More
                                    </div>
                                    <div class="button-icon">
                                        <i class="ri-arrow-right-circle-line"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card__inner">
                    <div class="flip-icon">
                        <img src="../../img/our-service-icon-3.svg" alt="">
                        <div class="flip-icon-border"></div>
                    </div>
                    <div class="flip-card__front">
                        <img src="../../img/creative-1-300x200.jpg" alt="">
                        <h2>MEDIA</h2>
                        <div class="flip-front-overlay"></div>
                        <div class="flip-back-overlay"></div>
                    </div>
                    <div class="flip-card__back">
                        <div class="flip-card__back-overlay"></div>
                        <div class="flip-back-disc">
                            <h4>
                                Strategic Media Planning
                                <br>
                                Effective Media Buying
                                <br>
                                Reporting
                            </h4>
                            <div class="button-area">
                                <a href="#"
                                    class="brancherx-btn-main">
                                    <div class="button-text">
                                        Learn More
                                    </div>
                                    <div class="button-icon">
                                        <i class="ri-arrow-right-circle-line"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card__inner">
                    <div class="flip-icon">
                        <img src="../../img/our-service-icon-4.svg" alt="">
                        <div class="flip-icon-border"></div>
                    </div>
                    <div class="flip-card__front">
                        <img src="../../img/Pr-scaled-e1664337819444-2-e1696243119257-300x245.webp" alt="">
                        <h2>MEDIA</h2>
                        <div class="flip-front-overlay"></div>
                        <div class="flip-back-overlay"></div>
                    </div>
                    <div class="flip-card__back">
                        <div class="flip-card__back-overlay"></div>
                        <div class="flip-back-disc">
                            <h4>
                                Strategic Media Planning
                                <br>
                                Effective Media Buying
                                <br>
                                Reporting
                            </h4>
                            <div class="button-area">
                                <a href="#"
                                    class="brancherx-btn-main">
                                    <div class="button-text">
                                        Learn More
                                    </div>
                                    <div class="button-icon">
                                        <i class="ri-arrow-right-circle-line"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>