<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrancherX</title>
    <link rel="stylesheet" href="../../css/icons.css">
    <link rel="stylesheet" href="../../css/icons.min.css">
    <link rel="stylesheet" href="../../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/style-homebanner.css">
    <link rel="stylesheet" href="../../css/style-home-our-service.css">
    <link rel="stylesheet" href="../../css/style-home-case-studies.css">
    <link rel="stylesheet" href="../../css/style-home-views-career.css">
    <link rel="stylesheet" href="../../css/style-home-form-master.css">
    <link rel="stylesheet" href="../../css/style-menu-pc.css">
    <link rel="stylesheet" href="../../css/odometer.css">
    <link rel="stylesheet" href="../../css/responsive.css">
</head>
<body>
    <section class="form-master container">
        <div class="talk-to-us">
            <span>TALK TO US</span>
        </div>
        <div class="talk-form">
            <h2>HOTLINE: (+84) 287 303 0568</h2>
            <form action="#">
                <div class="form">
                    <input type="text" placeholder="Company name *">
                </div>
                <div class="form">
                    <input type="text" placeholder="Job title *">
                </div>
                <div class="form">
                    <input type="email" placeholder="E - mail *">
                </div>
                <div class="form">
                    <input type="number" placeholder="Phone *">
                </div>
                <div class="form form-label">
                    <label for="post-start-date" class="label-contactus">
                        Choose your service that you interest:
                    </label>
                    <select name="brancherx_page_contact_form_service" class="form-control">
                        <option valuvalue="Integrated Marketing Communication">Integrated Marketing Communication</option>
                        <option valuvalue="Marketing & Business Solution">Marketing & Business Solution</option>
                        <option valuvalue="Creative Communication">Creative Communication</option>
                        <option valuvalue="Media Planning & Media Buying">Media Planning & Media Buying</option>
                        <option valuvalue="PR Planning & Buying">PR Planning & Buying</option>
                        <option valuvalue="Digital Marketing & Performance">Digital Marketing & Performance</option>
                        <option valuvalue="Social Content Management">Social Content Management</option>
                        <option valuvalue="KOL,KOC, Seeding">KOL,KOC, Seeding</option>
                        <option valuvalue="Others">Others</option>
                    </select>
                </div>
                <div class="form">
                    <input type="text" placeholder="Message *">
                </div>
                <div class="btn-form">
                    <span>SEND</span>
                </div>
            </form>
        </div>
    </section>
</body>
</html>