<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BrancherX</title>
        <link rel="stylesheet" type="text/css" href="../../css/fullpage.css">
        <link rel="stylesheet" href="../../css/icons.css">
        <link rel="stylesheet" href="../../css/icons.min.css">
        <link rel="stylesheet" href="../../css/default.css">
        <link rel="stylesheet" href="../../css/odometer.css">
        <link rel="stylesheet" href="../../css/swiper-bundle.min.css">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/style-header.css">
        <link rel="stylesheet" href="../../css/about-us-well-build.css">
        <link rel="stylesheet" href="../../css/style-footer.css">
        <link rel="stylesheet" href="../../css/style-menu-pc.css">
        <link rel="stylesheet" href="../../css/style-mobilemenu.css">
        <link rel="stylesheet" href="../../css/reponsive-about-us.css">
    </head>
    
    <body>
        <!-- About-us Well Build -->
        <section class="brancherx-about-us-well-build">
            <div class="about-us-weel-build">
                <div class="bg-title">
                    <h2>A well - built from us</h2>
                </div>
            </div>
            <div class="about-us-weel-build__down container">
                <div class="box-left">
                    <div class="title-area">
                        <h2>THE NO.1</h2>
                        <h4>
                            Fastest Growing Advertising Agency in VietNam
                        </h4>
                    </div>
                    <div class="hightlight-text-area">
                        <h4>RANKED BY RECMA 2022</h4>
                    </div>
                    <h4>We are proud to be the fastest growing agency in Vietnam thanks to our strong capability, client-centric service and track record of delivering outstanding results for clients. We achieved this because of: </h4>
                </div>
                <div class="box-right">
                    <img src="../../img/ranking_update_org-e1688440283947.png" alt="">
                    <h2>recma award</h2>
                </div>
            </div>
        </section>
    </body>
</html>
